body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.box {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}
main {
  min-height: 90vh;
}

.l-bold {
  font-weight: 700;
}
