* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.box {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  @media (max-width: 986px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 480px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}
main {
  min-height: 90vh;
}

.l-bold {
  font-weight: 700;
}
