footer {
  background: #BED2FF;
}
.footer {
  &-layout {
    padding: 46px 0;
    transition: .3s;
  }
  &-box {
    display: flex;
    justify-content: space-between;
  }
  &-c {
    font-size: 14px;
    line-height: 16px;
    color: #404040;
  }
  &-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #404040;
    max-width: 132px;
    transition: .3s;
  }
  &-menu {
    display: flex;
    &-link {
      display: block;
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
  }
  &-payment {
    padding-right: 20px;
    max-width: 220px;
    &-methods {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 10px;
      transition: .3s;
      img {
        flex-basis: 18%;
        margin-bottom: 16px;
        &:nth-child(2){
          padding-left: 12px;
        }
      }
    }
    &-btn {
      .l-btn {
        width: 100%;
      }
    }
  }
  &-contact {
    &-phone {
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.03em;
      color: #404040;
      padding-bottom: 16px;
      transition: .3s;
    }
    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #404040;
      padding-bottom: 28px;
      transition: .3s;
    }
    &-soc {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-item {

      }
    }
  }
}
