footer {
  background: #BED2FF;
}
.footer {
  &-layout {
    padding-top: 46px;
    padding-bottom: 46px;
    transition: .3s;
  }
  &-box {
    display: flex;
    justify-content: space-between;
  }
  &-c {
    font-size: 14px;
    line-height: 16px;
    color: #404040;
    margin-top: -16px;
    transition: .3s;
  }
  &-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #404040;
    max-width: 132px;
    transition: .3s;
  }
  &-menu {
    display: flex;
    padding-right: 10px;
    &-link {
      font-size: 16px;
      line-height: 19px;
      text-decoration-line: underline;
      color: #526CB3;
      display: block;
      border-right: 1px solid #526CB3;
      padding-top: 6px;
      padding-bottom: 2px;
      padding-right: 32px;
      transition: .3s;
      &:hover {
        color: #404040;
      }
    }
    &-col {
      &:not(first-child){
        padding-left: 32px;
      }
      &:last-child {
        .footer-menu-link {
          border-right: none;
          padding-right: 0;
        }
      }
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
  }
  &-payment {
    padding-right: 20px;
    max-width: 220px;
    &-methods {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 10px;
      transition: .3s;
      img {
        flex-basis: 18%;
        margin-bottom: 16px;
        &:nth-child(2){
          padding-left: 12px;
        }
      }
    }
    &-btn {
      .l-btn {
        width: 100%;
      }
    }
  }
  &-contact {
    &-phone {
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.03em;
      color: #404040;
      padding-bottom: 16px;
      transition: .3s;
    }
    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #404040;
      padding-bottom: 28px;
      transition: .3s;
    }
    &-soc {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-item {

      }
    }
  }
}
