.info {
  padding-top: 65px;
  padding-bottom: 60px;
  transition: .3s;
  &-title {
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #404040;
    margin-bottom: 36px;
    transition: .3s;
  }
  @media (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 0;
    &_l1 {
      padding-bottom: 36px;
    }
    &-title {
      font-size: 28px;
      line-height: 28px;
      padding-bottom: 0;
      margin-bottom: 30px;
    }
  }
  &-layout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 986px) {
      display: block;
    }
  }
  &-content {
    width: 100%;
    transition: .3s;
    &_l1 {
      padding-bottom: 40px;
    }
    &_l2 {
      max-width: 800px;
      margin-right: auto;
      padding-bottom: 40px;
      @media (max-width: 768px){
        max-width: 100%;
        padding-bottom: 16px;
      }
    }
  }
  .sidebar {
    max-width: 340px;
    width: 100%;
    margin-right: 45px;
    transition: .3s;
    &_l1 {
      margin-right: 20px;
    }
    &_l2 {
      max-width: 438px;
      margin-right: 42px;
    }
    &_l3 {
      max-width: 220px;
      margin-right: 20px;
    }

    &-item {
      width: 100%;
      text-align: center;

      &:not(:last-child){
        margin-bottom: 8px;
      }
    }
    .nav-item {
      display: block;
      width: 100%;
      text-align: center;
      &:not(:last-child){
        margin-bottom: 8px;
      }
    }
    .nav-link {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #526CB3;
      background: #DCE7FF;
      border-radius: 3px;
      padding: 14px 10px;
      border: 0;
      transition: .3s;
      &.active {
        background: #526CB3;
        color: #FFFFFF;
      }
      &:hover {
        background: #FFD949;
        &.active {
          background: #526CB3;
        }
      }
    }
    &_l3 {
      .nav-link {
        font-size: 18px;
        line-height: 21px;
        text-align: left;
        padding-left: 48px;
      }
    }
    @media (max-width: 986px) {
      max-width: 100%;
      margin-bottom: 30px;
    }
    @media (max-width: 768px) {
      .nav-link {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }
  &-right-sidebar {
    max-width: 340px;
    width: 100%;
    transition: .3s;
    @media (min-width: 986px) {
      margin-left: 20px;
    }
  }
}
.panel-default {
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
}
.panel-title {
  text-align: center;
  a {
    display: block;
    border-bottom: 1px solid;
  }
}
.panel-fix {
  max-height: 500px;
  overflow-x: auto;
}

.info {
  &-box {
    padding-top: 60px;
    padding-bottom: 100px;
    transition: .3s;
    &-layout {
      display: flex;
      justify-content: space-between;
      transition: .3s;
      @media (min-width: 1200px){
        margin-left: 360px;
      }
      @media (max-width: 986px){
        display: block;
      }
    }
    &-title {
      font-size: 32px;
      line-height: 37px;
      text-align: center;
      color: #FFFFFF;
      padding-bottom: 32px;
      transition: .3s;
    }
    &-head {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #404040;
      padding: 16px 10px;
      border-bottom: 1px solid #E8EBF3;
      transition: .3s;
    }
    @media (max-width: 986px){
      padding-top: 30px;
      padding-bottom: 40px;
      &-head {
        font-size: 20px;
      }
    }
  }
  &-block {
    background: #FFFFFF;
    border-radius: 10px;
  }
  &-contact {
    max-width: 340px;
    width: 100%;
    margin-left: 20px;
    transition: .3s;
    &-content {
      padding: 12px 30px 20px 16px;
    }
    &-item {
      display: flex;
      &:not(:last-child){
        margin-bottom: 20px;
      }
      .soc-icon {
        width: 16px;
        height: 16px;
      }
    }
    &-desc {
      font-size: 18px;
      line-height: 28px;
      margin-top: -6px;
      margin-left: 8px;
      &_label {
        color: #838383;
      }
      &_val {
        color: #5D6888;
      }
    }
    @media (max-width: 986px){
      margin: 0 auto;
    }
    @media (max-width: 786px){
      max-width: 100%;
    }
  }
  &-form {
    width: 100%;
    transition: .3s;
    &-content {
      padding: 18px 30px 30px;
    }
    &-text {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      padding-bottom: 20px;
      transition: .3s;
    }
    .l-textarea {
      min-height: 148px;
    }
    .l-upload {
      margin-top: 12px;
      margin-bottom: 26px;
      transition: .3s;
    }
    &-submit {
      text-align: right;
      .l-btn {
        max-width: 180px;
        width: 100%;
      }
    }
    @media (max-width: 986px){
      margin-bottom: 20px;
      &-text {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 0;
      }
      .l-upload {
        margin-bottom: 16px;
      }
    }
  }

}
.page-text {
  font-size: 18px;
  line-height: 28px;
  color: #404040;
  h2 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 18px;
  }
  h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 18px;
  }
  p {
    margin-bottom: 20px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
    h2 {
      font-size: 24px;
      margin-bottom: 14px;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 14px;
    }
    p {
      margin-bottom: 18px;
    }

  }
}
.emblem {
  max-width: 290px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 45px;
  transition: .3s;
  img {
    width: 100%;
    position: relative;
  }
  .icon-plus {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 48px;
      height: 48px;
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.7096 30.2911L43.7072 42.293C44.6499 43.236 43.2354 44.65 42.2928 43.707L30.2957 31.7056C27.2928 34.3771 23.3362 36 19 36C9.61051 36 2 28.3901 2 19C2 9.61051 9.60987 2 19 2C28.3895 2 36 9.60987 36 19C36 23.3338 34.3788 27.2887 31.7096 30.2911ZM4 19C4 27.2855 10.715 34 19 34C27.2855 34 34 27.285 34 19C34 10.7145 27.285 4 19 4C10.7145 4 4 10.715 4 19ZM18 18V14C18 12.6667 20 12.6667 20 14V18H24C25.3333 18 25.3333 20 24 20H20V24C20 25.3333 18 25.3333 18 24V20H14C12.6667 20 12.6667 18 14 18H18Z' fill='%23526CB3'/%3E%3C/svg%3E%0A");
      background-size: cover;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
  @media (max-width: 768px) {
    margin: auto;
    padding-bottom: 20px;
  }
}