.info {
  padding-top: 65px;
  padding-bottom: 60px;
  transition: .3s;
  &-title {
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #404040;
    margin-bottom: 36px;
    transition: .3s;
  }
  @media (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 0;
    &_l1 {
      padding-bottom: 36px;
    }
    &-title {
      font-size: 28px;
      line-height: 28px;
      padding-bottom: 0;
      margin-bottom: 30px;
    }
  }
  &-layout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 986px) {
      display: block;
    }
  }
  &-content {
    width: 100%;
    transition: .3s;
    &_l1 {
      padding-bottom: 40px;
    }
  }
  .sidebar {
    max-width: 340px;
    width: 100%;
    margin-right: 45px;
    transition: .3s;
    &_l1 {
      margin-right: 20px;
    }
    &_l2 {
      max-width: 438px;
      margin-right: 42px;
    }
    &_l3 {
      max-width: 220px;
      margin-right: 20px;
    }

    &-item {
      width: 100%;
      text-align: center;

      &:not(:last-child){
        margin-bottom: 8px;
      }
    }
    .nav-item {
      display: block;
      width: 100%;
      text-align: center;
      &:not(:last-child){
        margin-bottom: 8px;
      }
    }
    .nav-link {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #526CB3;
      background: #DCE7FF;
      border-radius: 3px;
      padding: 14px 10px;
      transition: .3s;
      &.active,
      &:hover {
        background: #526CB3;
        color: #FFFFFF;
      }
    }
    &_l3 {
      .nav-link {
        font-size: 18px;
        line-height: 21px;
        text-align: left;
        padding-left: 48px;
      }
    }
    @media (max-width: 986px) {
      max-width: 100%;
      margin-bottom: 30px;
    }
    @media (max-width: 768px) {
      .nav-link {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }
  &-right-sidebar {
    max-width: 340px;
    width: 100%;
    margin-left: 20px;
    transition: .3s;
  }
}
.panel-default {
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
}
.panel-title {
  text-align: center;
  a {
    display: block;
    border-bottom: 1px solid;
  }
}
.panel-fix {
  max-height: 500px;
  overflow-x: auto;
}

.info {
  &-box {
    padding-top: 60px;
    padding-bottom: 100px;
    transition: .3s;
    &-layout {
      display: flex;
      justify-content: space-between;
      transition: .3s;
      @media (min-width: 1200px){
        margin-left: 360px;
      }
      @media (max-width: 986px){
        display: block;
      }
    }
    &-title {
      font-size: 32px;
      line-height: 37px;
      text-align: center;
      color: #FFFFFF;
      padding-bottom: 32px;
      transition: .3s;
    }
    &-head {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #404040;
      padding: 16px 10px;
      border-bottom: 1px solid #E8EBF3;
      transition: .3s;
    }
    @media (max-width: 986px){
      padding-top: 30px;
      padding-bottom: 40px;
      &-head {
        font-size: 20px;
      }
    }
  }
  &-block {
    background: #FFFFFF;
    border-radius: 10px;
  }
  &-contact {
    max-width: 340px;
    width: 100%;
    margin-left: 20px;
    transition: .3s;
    &-content {
      padding: 12px 30px 20px 16px;
    }
    &-item {
      display: flex;
      &:not(:last-child){
        margin-bottom: 20px;
      }
      .soc-icon {
        width: 16px;
        height: 16px;
      }
    }
    &-desc {
      font-size: 18px;
      line-height: 28px;
      margin-top: -6px;
      margin-left: 8px;
      &_label {
        color: #838383;
      }
      &_val {
        color: #5D6888;
      }
    }
    @media (max-width: 986px){
      margin: 0 auto;
    }
    @media (max-width: 786px){
      max-width: 100%;
    }
  }
  &-form {
    width: 100%;
    transition: .3s;
    &-content {
      padding: 18px 30px 30px;
    }
    &-text {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      padding-bottom: 20px;
      transition: .3s;
    }
    .l-textarea {
      min-height: 148px;
    }
    .l-upload {
      margin-top: 12px;
      margin-bottom: 26px;
      transition: .3s;
    }
    &-submit {
      text-align: right;
      .l-btn {
        max-width: 180px;
        width: 100%;
      }
    }
    @media (max-width: 986px){
      margin-bottom: 20px;
      &-text {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 0;
      }
      .l-upload {
        margin-bottom: 16px;
      }
    }
  }

}
