.about-contact {
  padding-top: 50px;
  padding-bottom: 12px;
  transition: .3s;
  &-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 20px;
  }
  &-box {
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    &-label {
      color: #5D6888;
      padding-right: 6px;
    }
  }
  &-block {
    display: flex;
    align-items: center;
    padding-bottom: 28px;
    transition: .3s;
    &-item {
      display: flex;
      transition: .3s;
      &:not(:last-child){
        margin-right: 40px;
      }
      .soc-icon {
        width: 16px;
        height: 16px;
      }
    }
    &-info {
      font-size: 18px;
      line-height: 28px;
      margin-top: -5px;
      padding-left: 8px;
      &_label {
        color: #5D6888;
        cursor: default;
      }
      &_val {
        a {
          color: #5D6888;
          &.phone {
            color: #404040;
          }
        }

      }
    }
  }
  @media (max-width: 986px) {
     &-block {
       display: block;
       padding-bottom: 0;
       &-item {
         padding-bottom: 16px;
       }
     }
  }
  @media (max-width: 768px) {
    padding-top: 0;
    &-layout {
      display: block;
    }
    &-item {
      padding-bottom: 20px;
    }
  }
}