.begin {
  padding-top: 40px;
  transition: .3s;
  &-rel {
    position: relative;
    padding-bottom: 80px;
    transition: .3s;
  }
  &-layout {
    max-width: 966px;
    width: 100%;
    height: 530px;
    position: absolute;
    top: 0;
    z-index: -1;
    img {
      position: absolute;
      transition: .3s;
      @media (max-width: 1400px) {
        width: 95%;
        height: 100%;
      }
      @media (max-width: 1317px) {
        width: 91%;
      }
      @media (max-width: 1270px) {
        width: 86%;
        top: -20px;
      }
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
  &-case {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    &-item {
      flex-basis: 32.20%;
      display: flex;
      align-items: center;
      background: #A8BFFF;
      border-radius: 10px;
      max-width: 460px;
      width: 100%;
      margin-right: 20px;
      transition: .3s;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      &:nth-child(2){
        margin-top: 22px;
      }
      &:nth-child(4){
        margin-top: 50px;
        transition: .3s;
      }
      @media (max-width: 1270px) {
        overflow: hidden;
        &:nth-child(1){
          max-height: 139px;
        }
        &:nth-child(2){
          max-height: 167px;
        }
        &:nth-child(4){
          margin-top: 23px;
        }
      }
      @media (max-width: 1200px) {
        max-height: inherit !important;
      }
      @media (max-width: 986px) {
        margin-bottom: 20px;
        &:nth-child(2),
        &:nth-child(4){
          margin-top: 0;
        }
      }
    }
    &-num {
      font-size: 32px;
      line-height: 37px;
      color: #FFFFFF;
      padding: 0 20px;
      transition: .3s;
    }
    &-box {
      border-left: 1px solid #D5E0FE;
      padding-left: 26px;
      padding-right: 32px;
      transition: .3s;
    }
    &-title {
      font-size: 32px;
      line-height: 37px;
      color: #404040;
      padding-top: 16px;
      padding-bottom: 14px;
      @media (max-width: 1270px) {
        font-size: 28px;
        padding-bottom: 6px;
      }
    }
    &-desc {
      font-size: 18px;
      line-height: 28px;
      color: #404040;
      padding-bottom: 16px;
    }
    &_l1 {
      align-items: flex-start;
      .begin-case-item {
        max-height: inherit;
        @media (min-width: 986px) {
          &:nth-child(1){
            margin-top: 96px;
          }
          &:nth-child(2){
            margin-top: 64px;
          }
          &:nth-child(3){
            margin-top: 90px;
          }
        }
      }
      @media (max-width: 986px) {
        align-items: center;
        margin-top: 20px;
      }
    }
    @media (max-width: 1270px) {
      &-num {
        padding: 0 16px;
      }
      &-box {
        padding: 20px;
      }
      &-item {
        flex-basis: 31.6%;
      }
    }
    @media (max-width: 986px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2vw;
    }
    @media (max-width: 768px) {
      display: block;
      &-item {
        max-width: 100%;
      }
    }
  }
  &-btn {
    text-align: center;
    padding-bottom: 82px;
    border-bottom: 1px solid #E8EBF3;
    transition: .3s;
  }
  @media (max-width: 768px) {
    &-rel {
      padding-bottom: 10px;
    }
    &-btn {
      padding-bottom: 30px;
    }
  }
  &-advantage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 80px;
    padding-bottom: 100px;
    transition: .3s;
    &-item {
      text-align: center;
    }
    &-icon {
      max-height: 100px;
      height: 100%;
      img {
        height: 100%;
      }
    }
    &-title {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #404040;
      padding-top: 20px;
      padding-bottom: 12px;
      transition: .3s;
    }
    &-desc {
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #7B7B7B;
    }
    @media (max-width: 986px) {
      grid-template-columns: 1fr 1fr;
      padding-top: 60px;
      padding-bottom: 70px;
      &-item {
        margin-bottom: 20px;
      }
    }
    @media (max-width: 768px) {
      display: block;
      padding-top: 30px;
      padding-bottom: 35px;
    }
  }

}
