.l-btn {
  padding: 13px 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border-radius: 5px;
  outline: none;
  border: 0;
  position: relative;
  box-sizing: border-box;
  transition: .3s;

  &:focus {
    outline: none;
  }

  &_login {
    background: $color-primary2;
    color: #FFEEC2;
    padding-left: 32px;

    &:before {
      content: '';
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.72688 6.41112C1.35448 6.78352 1.11901 7.27096 1.05877 7.79415C1.01965 8.13392 0.999919 8.53611 0.999919 9.00001C0.999919 9.79953 1.05844 10.9546 1.17567 12.4625C1.24312 13.3303 1.96695 14 2.83732 14H4.47862C4.69924 14 4.76643 13.987 4.835 13.9504C4.88555 13.9233 4.92323 13.8856 4.95027 13.8351C4.98694 13.7665 4.99992 13.6993 4.99992 13.4787V9.61528C4.99992 9.15855 5.04448 8.92781 5.17288 8.68772C5.2911 8.46667 5.46658 8.29119 5.68763 8.17297C5.92772 8.04457 6.15846 8.00001 6.61519 8.00001H7.38464C7.84137 8.00001 8.07211 8.04457 8.31221 8.17297C8.53326 8.29119 8.70874 8.46667 8.82696 8.68772C8.95536 8.92781 8.99992 9.15855 8.99992 9.61528V13.4787C8.99992 13.6993 9.01289 13.7665 9.04957 13.8351C9.0766 13.8856 9.11428 13.9233 9.16484 13.9504C9.23341 13.987 9.3006 14 9.52121 14H11.1555C12.0279 14 12.7527 13.3272 12.8175 12.4572C12.931 10.9335 12.9877 9.7802 12.9877 9.00001C12.9877 8.53057 12.9672 8.12195 12.9264 7.77484C12.8652 7.25359 12.63 6.76819 12.2589 6.39707L7.51961 1.65777C7.31571 1.45387 7.2339 1.39854 7.12598 1.36583C7.04164 1.34027 6.9582 1.34027 6.87386 1.36583C6.76594 1.39854 6.68412 1.45387 6.48023 1.65777L1.72688 6.41112ZM1.25547 5.93972L6.00882 1.18636C6.28389 0.911303 6.45342 0.796651 6.68049 0.727827C6.89091 0.664048 7.10893 0.664048 7.31935 0.727827C7.54642 0.796651 7.71595 0.911303 7.99101 1.18636L12.7303 5.92567C13.2075 6.40282 13.5098 7.0269 13.5885 7.69709C13.6326 8.07203 13.6544 8.50611 13.6544 9.00001C13.6544 9.80002 13.597 10.968 13.4823 12.5067C13.3916 13.7247 12.3769 14.6667 11.1555 14.6667H9.52121C9.19995 14.6667 9.0288 14.6336 8.85044 14.5382C8.68371 14.4491 8.55086 14.3162 8.46169 14.1495C8.3663 13.9711 8.33325 13.8 8.33325 13.4787V9.61528C8.33325 9.2592 8.30877 9.13243 8.23908 9.00212C8.18299 8.89725 8.10268 8.81693 7.99781 8.76085C7.8675 8.69116 7.74073 8.66668 7.38464 8.66668H6.61519C6.25911 8.66668 6.13234 8.69116 6.00203 8.76085C5.89716 8.81693 5.81684 8.89725 5.76076 9.00212C5.69107 9.13243 5.66659 9.2592 5.66659 9.61528V13.4787C5.66659 13.8 5.63353 13.9711 5.53815 14.1495C5.44898 14.3162 5.31613 14.4491 5.1494 14.5382C4.97104 14.6336 4.79988 14.6667 4.47862 14.6667H2.83732C1.6188 14.6667 0.605446 13.729 0.511006 12.5142C0.392561 10.9905 0.333252 9.82002 0.333252 9.00001C0.333252 8.51217 0.354211 8.08504 0.396481 7.7179C0.473931 7.04522 0.776672 6.41852 1.25547 5.93972Z' fill='%23FFEEC2'/%3E%3C/svg%3E%0A");
      background-size: cover;
      width: 14px;
      height: 14px;
      left: 11px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &_l1 {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5277 6.66668C13.5218 6.66014 13.5158 6.65372 13.5095 6.64742L11.1039 4.2354C10.9739 4.10505 10.9742 3.89399 11.1045 3.76399C11.2349 3.63399 11.4459 3.63427 11.5759 3.76462L13.9815 6.17665C14.4362 6.63251 14.4356 7.37051 13.9802 7.82566L11.569 10.2358C11.4388 10.3659 11.2277 10.3659 11.0976 10.2357C10.9674 10.1055 10.9675 9.8944 11.0977 9.76425L13.5089 7.35414C13.5157 7.34735 13.5223 7.34042 13.5286 7.33334H5.33331C5.14922 7.33334 4.99998 7.18411 4.99998 7.00001C4.99998 6.81592 5.14922 6.66668 5.33331 6.66668H13.5277ZM8.99884 10.0032C9.00922 9.81936 9.16663 9.67876 9.35043 9.68914C9.53423 9.69952 9.67482 9.85693 9.66445 10.0407C9.65327 10.2387 9.61598 10.7044 9.55226 11.443C9.45501 12.5701 8.5569 13.4649 7.42214 13.5677C6.69301 13.6337 5.8996 13.6667 5.04175 13.6667C4.16679 13.6667 3.35885 13.6324 2.61778 13.5637C1.48325 13.4585 0.587069 12.5618 0.492255 11.4345C0.386231 10.1738 0.333313 8.70307 0.333313 7.02158C0.333313 5.31674 0.387712 3.8216 0.496694 2.53562C0.593698 1.39102 1.51586 0.487454 2.66977 0.403917C3.32049 0.356809 4.1109 0.333344 5.04175 0.333344C5.95272 0.333344 6.72916 0.355817 7.37179 0.400926C8.52655 0.481985 9.45101 1.3845 9.54975 2.52962C9.61573 3.29485 9.65442 3.7797 9.66613 3.98919C9.6764 4.17299 9.53572 4.33033 9.35192 4.3406C9.16811 4.35088 9.01077 4.2102 9.0005 4.02639C8.98931 3.82624 8.95089 3.34474 8.88555 2.58689C8.8151 1.76988 8.15363 1.12412 7.3251 1.06596C6.69957 1.02205 5.93822 1.00001 5.04175 1.00001C4.12583 1.00001 3.35096 1.02301 2.71791 1.06884C1.89 1.12878 1.23019 1.77528 1.16098 2.59192C1.05371 3.8577 0.99998 5.33443 0.99998 7.02158C0.99998 8.68553 1.05224 10.138 1.15658 11.3786C1.22422 12.1829 1.86538 12.8244 2.67932 12.8999C3.39903 12.9666 4.18656 13 5.04175 13C5.88027 13 6.65374 12.9679 7.36201 12.9037C8.17612 12.83 8.81867 12.1898 8.88806 11.3857C8.95115 10.6544 8.98819 10.1919 8.99884 10.0032Z' fill='%23FFEEC2'/%3E%3C/svg%3E%0A");
      }
    }
    &:hover {
      background: #343434;
    }
  }
  &_reg {
    background: #A8BFFF;
    color: #526CB3;
    padding-left: 32px;
    padding-right: 9px;
    &:before {
      content: '';
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.09755 10.0405C6.91001 10.228 6.65566 10.3333 6.39044 10.3333H5.99992C5.81582 10.3333 5.66659 10.4826 5.66659 10.6667C5.66659 11.219 5.21887 11.6667 4.66659 11.6667H3.99992C3.81582 11.6667 3.66659 11.8159 3.66659 12V12.6667C3.66659 13.219 3.21887 13.6667 2.66659 13.6667H1.33325C0.780967 13.6667 0.333252 13.219 0.333252 12.6667V10.9326C0.333252 10.6765 0.431542 10.4301 0.607854 10.2443L5.08516 5.52589C5.02865 5.24509 4.99992 4.95768 4.99992 4.66668C4.99992 2.27344 6.94002 0.333344 9.33325 0.333344C11.7265 0.333344 13.6666 2.27344 13.6666 4.66668C13.6666 7.05991 11.7265 9.00001 9.33325 9.00001C8.971 9.00001 8.61446 8.95548 8.26958 8.86842L7.09755 10.0405ZM7.9356 8.25959C8.02255 8.17264 8.15031 8.14063 8.26799 8.17629C8.61024 8.28003 8.96798 8.33334 9.33325 8.33334C11.3583 8.33334 12.9999 6.69172 12.9999 4.66668C12.9999 2.64163 11.3583 1.00001 9.33325 1.00001C7.30821 1.00001 5.66659 2.64163 5.66659 4.66668C5.66659 4.96648 5.7025 5.2613 5.77282 5.54683C5.79998 5.6571 5.76913 5.77361 5.69096 5.85599L1.09145 10.7032C1.03268 10.7651 0.999919 10.8473 0.999919 10.9326V12.6667C0.999919 12.8508 1.14916 13 1.33325 13H2.66659C2.85068 13 2.99992 12.8508 2.99992 12.6667V12C2.99992 11.4477 3.44763 11 3.99992 11H4.66659C4.85068 11 4.99992 10.8508 4.99992 10.6667C4.99992 10.1144 5.44763 9.66668 5.99992 9.66668H6.39044C6.47885 9.66668 6.56363 9.63156 6.62615 9.56905L7.9356 8.25959ZM9.99992 5.66668C9.07944 5.66668 8.33325 4.92049 8.33325 4.00001C8.33325 3.07954 9.07944 2.33334 9.99992 2.33334C10.9204 2.33334 11.6666 3.07954 11.6666 4.00001C11.6666 4.92049 10.9204 5.66668 9.99992 5.66668ZM9.99992 5.00001C10.5522 5.00001 10.9999 4.5523 10.9999 4.00001C10.9999 3.44773 10.5522 3.00001 9.99992 3.00001C9.44763 3.00001 8.99992 3.44773 8.99992 4.00001C8.99992 4.5523 9.44763 5.00001 9.99992 5.00001Z' fill='%23526CB3'/%3E%3C/svg%3E%0A");
      background-size: cover;
      width: 14px;
      height: 14px;
      left: 11px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:hover {
      background: #fff;
    }
  }
  &-blue {
    background: #A8BFFF;
    color: #526CB3;
    &:hover {
      background: #fff;
    }
  }
  &-blue-dark {
    background: #526CB3;
    color: #FFFFFF;
  }
  &-more {
    &:before {
      content: '';
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.50008 10.0001C2.50008 14.1428 5.85761 17.5001 10.0001 17.5001C14.1428 17.5001 17.5001 14.1426 17.5001 10.0001C17.5001 5.85732 14.1426 2.50008 10.0001 2.50008C5.85732 2.50008 2.50008 5.85761 2.50008 10.0001ZM1.66675 10.0001C1.66675 5.39738 5.39707 1.66675 10.0001 1.66675C14.6028 1.66675 18.3334 5.39707 18.3334 10.0001C18.3334 14.6028 14.6031 18.3334 10.0001 18.3334C5.39738 18.3334 1.66675 14.6031 1.66675 10.0001ZM9.58342 10.4167H6.25008C5.69453 10.4167 5.69453 9.58342 6.25008 9.58342H9.58342V6.25008C9.58342 5.69453 10.4167 5.69453 10.4167 6.25008V9.58342H13.7501C14.3056 9.58342 14.3056 10.4167 13.7501 10.4167H10.4167V13.7501C10.4167 14.3056 9.58342 14.3056 9.58342 13.7501V10.4167Z' fill='white'/%3E%3C/svg%3E%0A");
      background-size: cover;
      width: 20px;
      height: 20px;
      top: 0;
      right: 0;
      bottom: 0;
      left: -9em;
      margin: auto;
      transition: .3s;
    }
    &:hover {
      color: #FFB800;
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.50008 10.0001C2.50008 14.1428 5.85761 17.5001 10.0001 17.5001C14.1428 17.5001 17.5001 14.1426 17.5001 10.0001C17.5001 5.85732 14.1426 2.50008 10.0001 2.50008C5.85732 2.50008 2.50008 5.85761 2.50008 10.0001ZM1.66675 10.0001C1.66675 5.39738 5.39707 1.66675 10.0001 1.66675C14.6028 1.66675 18.3334 5.39707 18.3334 10.0001C18.3334 14.6028 14.6031 18.3334 10.0001 18.3334C5.39738 18.3334 1.66675 14.6031 1.66675 10.0001ZM9.58342 10.4167H6.25008C5.69453 10.4167 5.69453 9.58342 6.25008 9.58342H9.58342V6.25008C9.58342 5.69453 10.4167 5.69453 10.4167 6.25008V9.58342H13.7501C14.3056 9.58342 14.3056 10.4167 13.7501 10.4167H10.4167V13.7501C10.4167 14.3056 9.58342 14.3056 9.58342 13.7501V10.4167Z' fill='%23FFB800'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &-orange {
    background: #FFB800;
    color: #FFFFFF;
    &:hover {
      background: $color-primary1;
    }
  }
  &-red {
    background: #D23B3B;
    color: #FFFFFF;
  }
  &-green {
    background: #62AE00;
    color: #FFFFFF;
    &:hover {
      background: #F4BF1A;
    }
  }

}
button:focus{
  outline: none;
}
[disabled="disabled"]{
  opacity: .2;
}
