.l-modal {
  a {
    color: #526CB3;
  }
  .modal {
    &-dialog {
      max-width: 752px;
      border-radius: 20px;
    }
    &-header {
      background: #FFE5A8;
      display: flex;
      align-items: center;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      .close {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8212 20L6.91047 8.08925C6.12479 7.30358 7.30331 6.12507 8.08898 6.91074L19.9997 18.8215L31.9105 6.91074C32.6961 6.12507 33.8747 7.30358 33.089 8.08925L21.1782 20L33.089 31.9107C33.8747 32.6964 32.6961 33.8749 31.9105 33.0893L19.9997 21.1785L8.08898 33.0893C7.30331 33.8749 6.12479 32.6964 6.91047 31.9107L18.8212 20Z' fill='%23526CB3'/%3E%3C/svg%3E%0A");
        background-size: cover;
        width: 40px;
        height: 40px;
        margin-right: 0;
      }
    }
    &-title {
      font-weight: 500;
      font-size: 32px;
      line-height: 37px;
      text-align: center;
      color: #526CB3;
      width: 100%;
      transition: .3s;
      @media (min-width: 768px) {
        padding-left: 40px;
      }
      @media (max-width: 768px) {
        font-size: 22px;
      }
    }
    &-content {
      border-radius: 20px;
      border: 0;
    }
  }
  .instructions {
    display: flex;
    justify-content: space-between;
    &-cover {
      max-width: 446px;
      width: 100%;
      height: 490px;
      position: relative;
      background: #EEF3FF;
      border-radius: 3px;
      transition: .3s;
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
      }
    }
    &-desc {
      padding-left: 40px;
      font-size: 24px;
      line-height: 34px;
      color: #404040;
      &-title {
        font-weight: bold;
        padding-bottom: 28px;
        transition: .3s;
      }
    }
    &-list {
      margin-bottom: 36px;
      &-item {
        &:not(:last-child){
          padding-bottom: 18px;
        }
      }
    }
    .l-btn {
      margin-top: 24px;
    }
    a {
      color: #526cb3;
      text-decoration: underline;
    }
    @media (max-width: 768px) {
      &-cover {
        height: 400px;
      }
      &-desc {
        padding-left: 20px;
        font-size: 20px;
        line-height: normal;
        &-title {
          padding-bottom: 20px;
        }
      }
      &-list {
        margin-bottom: 20px;
        &-item {
          &:not(:last-child){
            padding-bottom: 10px;
          }
        }
      }
    }
    @media (max-width: 540px) {
      flex-wrap: wrap;
      &-cover {
        margin-bottom: 20px;
      }
      &-desc {
        padding-left: 0;
      }
      .l-btn {
        width: 100%;
      }
    }


  }

  .info-bet {
    padding: 0 146px;
    margin-bottom: 15px;
    transition: .3s;

    &-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #E8EBF3;
      margin-bottom: 10px;
      padding-bottom: 10px;
      &:last-child {
        border-bottom: 0;
      }
      &_label {
        font-size: 18px;
        line-height: 34px;
        color: #404040;
      }
      &_val {
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: #404040;
      }
    }
    &-input {
      input {
        width: 100%;
        height: 48px;
        max-width: 72px;
        background: #DDE7FF;
        border-radius: 5px;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
    .l-check {
      margin-top: 20px;
    }
    &-btn {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      transition: .3s;
      .l-btn-red {
        min-width: 128px;
        margin-right: 12px;
      }
      .l-btn-green {
        min-width: 206px;
      }
    }
    @media (max-width: 986px) {
      padding: 0 72px;
    }
    @media (max-width: 768px) {
      padding: 0 10px;
    }
  }

  .info-wins {
    padding: 0 126px;
    margin-bottom: 15px;
    &-title {
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      color: #404040;
      padding-bottom: 20px;
    }
    &-desc {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #404040;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #E8EBF3;
      &_l1 {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 16px;
      }
    }
    &-form {
      &_label {
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #404040;
        text-align: left;
      }
    }
    .l-textarea {
      margin-bottom: 28px;
      width: 100%;
      min-height: 180px;
      transition: .3s;
    }
    .l-check {
      text-align: center;
    }
    &-btn {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      transition: .3s;
      .profile {
        min-width: 142px;
        margin-right: 12px;
      }
      .auctions {
        min-width: 195px;
      }
    }
    @media (max-width: 986px){
      padding: 0 60px;
      &-btn {
        margin-top: 20px;
      }
    }
    @media (max-width: 768px){
      padding: 0 16px;
      &-title {
        font-size: 20px;
      }
      &-desc {
        font-size: 16px;
      }
      .l-check-label {
        font-size: 16px;
      }
      .l-textarea {
        margin-bottom: 14px;
      }
      &-btn {
        margin-top: 9px;
        .profile,
        .auctions {
          min-width: auto;
        }
      }
    }

  }
  &-auth {
    .modal-dialog {
      max-width: 520px;
    }
    .l-form-label {
      max-width: 115px;
    }
    .l-form-control-flex {
      &:first-child {
        margin-bottom: 20px;
      }
      &:nth-child(2) {
        margin-bottom: 0;
      }
    }
    &-btn {
      text-align: center;
      margin-top: 30px;
      transition: .3s;
        .l-btn {
          min-width: 218px;
        }
    }
    &-text {
      font-size: 18px;
      line-height: 34px;
      text-align: center;
      margin-top: 12px;
      a {
        text-decoration-line: underline;
        color: #526CB3;
        cursor: pointer;
        transition: .3s;
        &:hover {
            color: #62ae00;
        }
      }
    }
    &-msg {
      font-size: 14px;
      line-height: 16px;
      color: #DF6767;
      margin-top: 8px;
      text-align: center;
    }
  }
  &-recovery {
    .modal-dialog {
      max-width: 630px;
    }
    .l-form-label {
      max-width: 115px;
    }
    .l-form-control-flex {
      margin-bottom: 8px;
    }
    &-text {
      font-size: 14px;
      line-height: 20px;
      color: #404040;
    }
    @media (min-width: 768px) {
      form {
        max-width: 480px;
        margin: auto;
      }
    }
  }
  &_l2 {
    .modal-dialog {
      max-width: 630px;
    }
  }

}
.modal-backdrop {
  background-color: #00000099;
}
