.product {
  padding-top: 44px;
  padding-bottom: 100px;
  transition: .3s;
  &-title {
    font-size: 44px;
    line-height: 52px;
    font-weight: normal;
    color: #404040;
    max-width: 690px;
    transition: .3s;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    transition: .3s;
    &-thumb {
      max-width: 100px;
      width: 100%;
      &-img {
        position: relative;
        min-height: 100px;
        background: #EEF3FF;
        border-radius: 6px;
        margin-bottom: 20px;
        transition: .3s;
        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          max-width: 92px;
        }
        &.active {
          img {
            opacity: .5;
          }
        }
      }
    }
    &-cover {
      width: 100%;
      max-width: 700px;
      min-width: 700px;
      min-height: 655px;
      background: #EEF3FF;
      border-radius: 6px;
      position: relative;
      margin-right: auto;
      margin-left: 24px;
      transition: .3s;
      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        max-width: 670px;
        transition: .3s;
      }
    }
  }
  &-tabs {
    width: 100%;
    margin-left: 22px;
    transition: .3s;
    .nav-tabs {
      border-bottom: 0;
      display: flex;
      align-items: center;
    }
    .nav-link {
      font-size: 24px;
      line-height: 28px;
      color: #838383;
      border: 0;
      padding: 0 0 4px;
      transition: .3s;
      &:not(last-child){
        margin-right: 22px;
      }
      &.active {
        font-size: 32px;
        line-height: 37px;
        color: #404040;
        border: 0;
        border-bottom: 3px solid #A8BFFF;
      }
    }
    .tab-content {
      font-size: 18px;
      line-height: 28px;
      color: #404040;
      margin-top: 22px;
    }
  }
  &-desc {
    padding-top: 28px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition: .3s;
    &-item {
      background: #EEF3FF;
      border-radius: 10px;
      padding: 20px 26px;
      max-width: 218px;
      min-height: 122px;
      width: 100%;
      transition: .3s;
      &:not(:last-child){
        margin-right: 22px;
      }
    }
    &-info {
      font-size: 14px;
      line-height: 28px;
      color: #5D6888;
      span {
        font-weight: bold;
        font-size: 16px;
        line-height: 100%;
        color: #404040;
      }
    }
    &-btn {
      .l-btn {
        margin-top: 6px;
        width: 100%;
      }
    }
    &-text {
      font-size: 14px;
      line-height: 28px;
      color: #E2B33A;
    }
    .cart-icon {
      margin-bottom: 5px;
    }
    &-icon {

    }
  }
  &-timer {
    max-width: 458px;
    display: flex;
    align-items: center;
    &-box {
      display: flex;
      justify-content: space-between;
      padding-top: 4px;
      transition: .3s;
    }
    &-item {
      font-size: 20px;
      text-transform: uppercase;
      &:not(:last-child){
        margin-right: 27px;
      }
      span {
        font-size: 32px;
        line-height: 100%;
        color: #404040;
      }
    }
    .product-desc-info {
      margin-left: 16px;
    }
  }




}
.places {
  padding-top: 60px;
  transition: .3s;
  &-title {
    margin-bottom: 20px;
  }
  &-box {
    border: 1px solid #526CB3;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    transition: .3s;
  }
  &-layout {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -8px;
    margin-left: -7px;
    margin-right: -7px;
    transition: .3s;
  }
  &-item {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #526CB3;
    max-width: 60px;
    height: 60px;
    width: 100%;
    margin: 8px;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    transition: .3s;
    &:hover {
      background: #F4BF1A;
      color: #fff;
    }
    .number {
      padding-top: 8px;
    }
    [data-c="false"] {
      .number {
        padding-top: 15px;
      }
    }
    [data-c="true"] {
      .number {
        position: relative;
        z-index: 9;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        color: #404040;
        top: 4px;
        left: 5px;
        width: 15px;
        height: 15px;
        &:before {
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          background-color: #fff;
          z-index: -1;
          border-radius: 50%;
          border: 1px solid #526cb3;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
        span {
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: 3px;
          bottom: 0;
        }
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &-more {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    padding-top: 52px;
    padding-bottom: 16px;
    transition: .3s;
    .l-btn {
      width: 100%;
    }
  }
  [data-c="false"]{
    img {
      display: none;
    }
  }
}
