.l-table {
  background: #F6F9FF;
  border: 1px solid #D3D9E8;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
  &-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #404040;
    padding: 12px;
    transition: .3s;
    @media (max-width: 768px) {
      font-size: 20px;
      padding: 8px;
    }
  }
  &-box {
    overflow-x: auto;
  }
  &-t {
    width: 100%;
    border-collapse: collapse;
  }
  &_th,
  &_td {
    border: 1px solid #D3D9E8;
    border-right: 0;
    border-bottom: 0;
    &:first-child {
      border-left: 0;
    }
    &.right {
      text-align: right;
    }
  }
  &_th {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #404040;
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 12px;
    text-align: left;
    vertical-align: top;
  }
  &_td {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #404040;
    padding: 8px 12px;
    a {
      text-decoration-line: underline;
      color: #404040;
    }
  }
}
