.wins {
  padding-top: 46px;
  padding-bottom: 80px;
  transition: .3s;
  &_blue {
    background: #526CB3;
    .wins-head-title {
      h2 {
        color: #FFFFFF;
      }
    }
  }
  &-head {
    &-title {
      text-align: center;
      margin-bottom: 40px;
      position: relative;
      transition: 3s;
      h1 {
        font-size: 44px;
        line-height: 52px;
        color: #404040;
      }
      h2 {
        font-size: 32px;
        line-height: 37px;
        text-align: center;
      }
    }
    &-info {
      font-size: 14px;
      line-height: 16px;
      color: #5D6888;
      position: absolute;
      right: 0;
      bottom: 0;
      span {
        font-weight: bold;
      }
    }
  }
  &-box {
    &-cover {
      border-radius: 50%;
      overflow: hidden;
      max-width: 106px;
      max-height: 106px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    &-name {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #404040;
      margin-top: 16px;
    }
  }
  &_blue {
    .wins-box-name {
      color: #FFFFFF;
    }
  }
  &-slider {
    position: relative;
    &-init {
      overflow: hidden;
      max-width: 100%;
      transition: .3s;
      @media (min-width: 768px){
        margin: 0 70px;
      }
    }
  }
  .slider-nav {
    &_ab {
      .slider-arr {
        position: absolute;
        top: 26px;
        &.right {
          right: 0;
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 20C40 31.0472 31.0465 40 20 40C8.95277 40 -5.42834e-06 31.0465 -3.49691e-06 20C-1.56535e-06 8.95278 8.95353 1.56548e-06 20 3.49691e-06C31.0472 5.42847e-06 40 8.95353 40 20ZM38 20C38 10.0581 29.9426 2.00001 20 2C10.0581 2 2 10.0574 2 20C1.99999 29.9419 10.0574 38 20 38C29.9419 38 38 29.9426 38 20ZM23.6901 28.2759C24.0808 28.6664 24.0809 29.2995 23.6905 29.6901C23.3 30.0808 22.6669 30.0809 22.2763 29.6905L15.0425 22.4601C13.6764 21.0947 13.6747 18.8807 15.0386 17.5131L22.2554 10.277C22.6454 9.886 23.2786 9.88516 23.6696 10.2752C24.0606 10.6652 24.0615 11.2983 23.6715 11.6894L16.4547 18.9254C15.8702 19.5116 15.8709 20.4604 16.4564 21.0456L23.6901 28.2759Z' fill='%239FB9FF'/%3E%3C/svg%3E%0A");
            transform: rotate(180deg);
            transition: .3s;
          }
          &:hover {
            &:before {
              background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 20C40 31.0472 31.0465 40 20 40C8.95277 40 -5.42834e-06 31.0465 -3.49691e-06 20C-1.56535e-06 8.95278 8.95353 1.56548e-06 20 3.49691e-06C31.0472 5.42847e-06 40 8.95353 40 20ZM38 20C38 10.0581 29.9426 2.00001 20 2C10.0581 2 2 10.0574 2 20C1.99999 29.9419 10.0574 38 20 38C29.9419 38 38 29.9426 38 20ZM23.6901 28.2759C24.0808 28.6664 24.0809 29.2995 23.6905 29.6901C23.3 30.0808 22.6669 30.0809 22.2763 29.6905L15.0425 22.4601C13.6764 21.0947 13.6747 18.8807 15.0386 17.5131L22.2554 10.277C22.6454 9.886 23.2786 9.88516 23.6696 10.2752C24.0606 10.6652 24.0615 11.2983 23.6715 11.6894L16.4547 18.9254C15.8702 19.5116 15.8709 20.4604 16.4564 21.0456L23.6901 28.2759Z' fill='%23526CB3'/%3E%3C/svg%3E%0A");
            }
          }
        }
        &.left {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 20C40 31.0472 31.0465 40 20 40C8.95277 40 -5.42834e-06 31.0465 -3.49691e-06 20C-1.56535e-06 8.95278 8.95353 1.56548e-06 20 3.49691e-06C31.0472 5.42847e-06 40 8.95353 40 20ZM38 20C38 10.0581 29.9426 2.00001 20 2C10.0581 2 2 10.0574 2 20C1.99999 29.9419 10.0574 38 20 38C29.9419 38 38 29.9426 38 20ZM23.6901 28.2759C24.0808 28.6664 24.0809 29.2995 23.6905 29.6901C23.3 30.0808 22.6669 30.0809 22.2763 29.6905L15.0425 22.4601C13.6764 21.0947 13.6747 18.8807 15.0386 17.5131L22.2554 10.277C22.6454 9.886 23.2786 9.88516 23.6696 10.2752C24.0606 10.6652 24.0615 11.2983 23.6715 11.6894L16.4547 18.9254C15.8702 19.5116 15.8709 20.4604 16.4564 21.0456L23.6901 28.2759Z' fill='%239FB9FF'/%3E%3C/svg%3E%0A");
            transition: .3s;
          }
          &:hover {
            &:before {
              background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 20C40 31.0472 31.0465 40 20 40C8.95277 40 -5.42834e-06 31.0465 -3.49691e-06 20C-1.56535e-06 8.95278 8.95353 1.56548e-06 20 3.49691e-06C31.0472 5.42847e-06 40 8.95353 40 20ZM38 20C38 10.0581 29.9426 2.00001 20 2C10.0581 2 2 10.0574 2 20C1.99999 29.9419 10.0574 38 20 38C29.9419 38 38 29.9426 38 20ZM23.6901 28.2759C24.0808 28.6664 24.0809 29.2995 23.6905 29.6901C23.3 30.0808 22.6669 30.0809 22.2763 29.6905L15.0425 22.4601C13.6764 21.0947 13.6747 18.8807 15.0386 17.5131L22.2554 10.277C22.6454 9.886 23.2786 9.88516 23.6696 10.2752C24.0606 10.6652 24.0615 11.2983 23.6715 11.6894L16.4547 18.9254C15.8702 19.5116 15.8709 20.4604 16.4564 21.0456L23.6901 28.2759Z' fill='%23526CB3'/%3E%3C/svg%3E%0A");
            }
          }
        }
      }
      @media (max-width: 768px){
        padding-top: 0;
        justify-content: center;
        .slider-arr {
          position: relative;
        }
      }
    }
  }
  &_blue {
    .slider-nav {
      &_ab {
        .slider-arr {
          &.right {
            &:before {
              background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 20C40 31.0472 31.0465 40 20 40C8.95277 40 -5.42834e-06 31.0465 -3.49691e-06 20C-1.56535e-06 8.95278 8.95353 1.56548e-06 20 3.49691e-06C31.0472 5.42847e-06 40 8.95353 40 20ZM38 20C38 10.0581 29.9426 2.00001 20 2C10.0581 2 2 10.0574 2 20C1.99999 29.9419 10.0574 38 20 38C29.9419 38 38 29.9426 38 20ZM23.6901 28.2759C24.0808 28.6664 24.0809 29.2995 23.6905 29.6901C23.3 30.0808 22.6669 30.0809 22.2763 29.6905L15.0425 22.4601C13.6764 21.0947 13.6747 18.8807 15.0386 17.5131L22.2554 10.277C22.6454 9.886 23.2786 9.88516 23.6696 10.2752C24.0606 10.6652 24.0615 11.2983 23.6715 11.6894L16.4547 18.9254C15.8702 19.5116 15.8709 20.4604 16.4564 21.0456L23.6901 28.2759Z' fill='%2396AEED'/%3E%3C/svg%3E%0A");
              transform: rotate(180deg);
              transition: .3s;
            }
            &:hover {
              &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 20C40 31.0472 31.0465 40 20 40C8.95277 40 -5.42834e-06 31.0465 -3.49691e-06 20C-1.56535e-06 8.95278 8.95353 1.56548e-06 20 3.49691e-06C31.0472 5.42847e-06 40 8.95353 40 20ZM38 20C38 10.0581 29.9426 2.00001 20 2C10.0581 2 2 10.0574 2 20C1.99999 29.9419 10.0574 38 20 38C29.9419 38 38 29.9426 38 20ZM23.6901 28.2759C24.0808 28.6664 24.0809 29.2995 23.6905 29.6901C23.3 30.0808 22.6669 30.0809 22.2763 29.6905L15.0425 22.4601C13.6764 21.0947 13.6747 18.8807 15.0386 17.5131L22.2554 10.277C22.6454 9.886 23.2786 9.88516 23.6696 10.2752C24.0606 10.6652 24.0615 11.2983 23.6715 11.6894L16.4547 18.9254C15.8702 19.5116 15.8709 20.4604 16.4564 21.0456L23.6901 28.2759Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
              }
            }
          }
          &.left {
            &:before {
              background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 20C40 31.0472 31.0465 40 20 40C8.95277 40 -5.42834e-06 31.0465 -3.49691e-06 20C-1.56535e-06 8.95278 8.95353 1.56548e-06 20 3.49691e-06C31.0472 5.42847e-06 40 8.95353 40 20ZM38 20C38 10.0581 29.9426 2.00001 20 2C10.0581 2 2 10.0574 2 20C1.99999 29.9419 10.0574 38 20 38C29.9419 38 38 29.9426 38 20ZM23.6901 28.2759C24.0808 28.6664 24.0809 29.2995 23.6905 29.6901C23.3 30.0808 22.6669 30.0809 22.2763 29.6905L15.0425 22.4601C13.6764 21.0947 13.6747 18.8807 15.0386 17.5131L22.2554 10.277C22.6454 9.886 23.2786 9.88516 23.6696 10.2752C24.0606 10.6652 24.0615 11.2983 23.6715 11.6894L16.4547 18.9254C15.8702 19.5116 15.8709 20.4604 16.4564 21.0456L23.6901 28.2759Z' fill='%2396AEED'/%3E%3C/svg%3E%0A");
              transition: .3s;
            }
            &:hover {
              &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 20C40 31.0472 31.0465 40 20 40C8.95277 40 -5.42834e-06 31.0465 -3.49691e-06 20C-1.56535e-06 8.95278 8.95353 1.56548e-06 20 3.49691e-06C31.0472 5.42847e-06 40 8.95353 40 20ZM38 20C38 10.0581 29.9426 2.00001 20 2C10.0581 2 2 10.0574 2 20C1.99999 29.9419 10.0574 38 20 38C29.9419 38 38 29.9426 38 20ZM23.6901 28.2759C24.0808 28.6664 24.0809 29.2995 23.6905 29.6901C23.3 30.0808 22.6669 30.0809 22.2763 29.6905L15.0425 22.4601C13.6764 21.0947 13.6747 18.8807 15.0386 17.5131L22.2554 10.277C22.6454 9.886 23.2786 9.88516 23.6696 10.2752C24.0606 10.6652 24.0615 11.2983 23.6715 11.6894L16.4547 18.9254C15.8702 19.5116 15.8709 20.4604 16.4564 21.0456L23.6901 28.2759Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
              }
            }


          }
        }
      }
    }
  }
  @media (max-width: 768px){
    padding-top: 20px;
    padding-bottom: 54px;
    &-head {
      &-title {
        margin-bottom: 16px;
        h2 {
          font-size: 28px;
          line-height: normal;
        }
      }
    }
  }
}
