.l-form {
  &-control {
    &-flex {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      &.baseline {
        align-items: baseline;
      }
    }
    &-box {
      width: 100%;
    }
    &-date {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.834 3.33332H16.2507C16.775 3.33332 17.28 3.47223 17.7231 3.73179C18.155 3.98482 18.5158 4.34564 18.7689 4.77759C19.0284 5.22068 19.1673 5.72568 19.1673 6.24999C19.1564 7.65004 19.1564 9.31738 19.1673 11.2551C19.1748 12.5788 19.1132 13.9666 18.9827 15.4186C18.8544 16.8464 17.7076 17.9692 16.2774 18.0674C13.5492 18.2546 11.4651 18.3483 10.0219 18.3483C8.57751 18.3483 6.48168 18.2544 3.73136 18.0669C2.29866 17.9692 1.15025 16.8432 1.02435 15.4127C0.897464 13.9709 0.833984 12.5858 0.833984 11.2575V6.24999C0.833984 5.72568 0.972896 5.22068 1.23245 4.77759C1.48548 4.34564 1.84631 3.98482 2.27825 3.73179C2.72134 3.47223 3.22634 3.33332 3.75065 3.33332H4.16732V2.91666C4.16732 2.2263 4.72696 1.66666 5.41732 1.66666C6.10767 1.66666 6.66732 2.2263 6.66732 2.91666V3.33332H13.334V2.91666C13.334 2.2263 13.8936 1.66666 14.584 1.66666C15.2743 1.66666 15.834 2.2263 15.834 2.91666V3.33332ZM15.7629 4.16666C15.5913 4.65215 15.1282 4.99999 14.584 4.99999C14.0397 4.99999 13.5767 4.65215 13.4051 4.16666H6.59619C6.42459 4.65215 5.96158 4.99999 5.41732 4.99999C4.87306 4.99999 4.41004 4.65215 4.23845 4.16666H3.75065C3.37542 4.16666 3.01564 4.26562 2.69946 4.45084C2.39066 4.63173 2.13239 4.89 1.9515 5.1988C1.76628 5.51498 1.66732 5.87476 1.66732 6.24999V11.2575C1.66732 12.5609 1.72968 13.9216 1.85448 15.3396C1.94441 16.3614 2.7647 17.1657 3.78805 17.2355C6.52111 17.4218 8.60011 17.5149 10.0219 17.5149C11.4424 17.5149 13.5095 17.422 16.2204 17.236C17.2419 17.1659 18.0611 16.3639 18.1527 15.344C18.2809 13.9178 18.3413 12.5563 18.334 11.2598C18.3231 9.31933 18.3231 7.64891 18.334 6.24836C18.3337 5.87372 18.2348 5.51452 18.0498 5.1988C17.8689 4.89 17.6106 4.63173 17.3018 4.45084C16.9857 4.26562 16.6259 4.16666 16.2507 4.16666H15.7629ZM14.584 2.49999C14.3539 2.49999 14.1673 2.68654 14.1673 2.91666V3.74999C14.1673 3.98011 14.3539 4.16666 14.584 4.16666C14.8141 4.16666 15.0007 3.98011 15.0007 3.74999V2.91666C15.0007 2.68654 14.8141 2.49999 14.584 2.49999ZM5.41732 2.49999C5.1872 2.49999 5.00065 2.68654 5.00065 2.91666V3.74999C5.00065 3.98011 5.1872 4.16666 5.41732 4.16666C5.64744 4.16666 5.83398 3.98011 5.83398 3.74999V2.91666C5.83398 2.68654 5.64744 2.49999 5.41732 2.49999ZM7.50065 7.33086C7.50065 7.10074 7.6872 6.9142 7.91732 6.9142C8.14744 6.9142 8.33398 7.10074 8.33398 7.33086V15.138C8.33398 15.3682 8.14744 15.5547 7.91732 15.5547C7.6872 15.5547 7.50065 15.3682 7.50065 15.138V7.33086ZM11.6673 7.33086C11.6673 7.10074 11.8539 6.9142 12.084 6.9142C12.3141 6.9142 12.5007 7.10074 12.5007 7.33086V15.138C12.5007 15.3682 12.3141 15.5547 12.084 15.5547C11.8539 15.5547 11.6673 15.3682 11.6673 15.138V7.33086ZM4.58398 7.49999C4.35387 7.49999 4.16732 7.68654 4.16732 7.91666V14.5833C4.16732 14.8134 4.35387 15 4.58398 15H15.4173C15.6474 15 15.834 14.8134 15.834 14.5833V7.91666C15.834 7.68654 15.6474 7.49999 15.4173 7.49999H4.58398ZM4.58398 6.66666H15.4173C16.1077 6.66666 16.6673 7.2263 16.6673 7.91666V14.5833C16.6673 15.2737 16.1077 15.8333 15.4173 15.8333H4.58398C3.89363 15.8333 3.33398 15.2737 3.33398 14.5833V7.91666C3.33398 7.2263 3.89363 6.66666 4.58398 6.66666ZM4.16732 11.6667C3.9372 11.6667 3.75065 11.4801 3.75065 11.25C3.75065 11.0199 3.9372 10.8333 4.16732 10.8333H15.834C16.0641 10.8333 16.2507 11.0199 16.2507 11.25C16.2507 11.4801 16.0641 11.6667 15.834 11.6667H4.16732Z' fill='%23526CB3'/%3E%3C/svg%3E%0A");
        background-size: cover;
        width: 20px;
        height: 20px;
        right: 8px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    &-msg {
      display: none;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &-label {
    font-size: 18px;
    line-height: 34px;
    color: #404040;
    max-width: 170px;
    width: 100%;
  }
  &-desc {
    font-size: 14px;
    line-height: 28px;
    color: #838383;
  }
  @media (max-width: 768px) {
    &-control {
      &-flex {
        display: block;
      }
    }
    &-label {
      font-size: 16px;
      line-height: 28px;
    }
  }
  &-val {
    font-size: 18px;
    line-height: 21px;
    color: #5D6888;
  }

}
.is-error {
  align-items: baseline;
  .l-form-control-msg {
    display: block;
    color: #DF6767;
    margin-top: 8px;
    margin-left: 10px;
  }
  .l-input {
    background: #DF6767;
    color: #FFFFFF !important;
  }
  &.is-not {
    .l-form-control-msg {
      display: none;
    }
  }
}

.form-reg {
  padding: 5px 20px;
  transition: .3s;
  .l-form-label {
    max-width: 188px;
  }
  &-checkbox {
    padding-top: 12px;
    padding-bottom: 25px;
    transition: .3s;
  }
  &-text {
    font-size: 18px;
    line-height: 34px;
    color: #404040;
  }
  &-btn {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    transition: .3s;
    .l-btn {
      width: 100%;
      @media (min-width: 768px) {
        max-width: 218px;
      }
    }
  }
  @media (max-width: 768px) {
    padding: 4px 10px;
    &-checkbox {
      padding-top: 2px;
      padding-bottom: 4px;
    }
    &-btn {
      margin-top: 16px;
    }
  }
}