.l-form {
  &-control {
    &-flex {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }
  }
  &-label {
    font-size: 18px;
    line-height: 34px;
    color: #404040;
    max-width: 170px;
    width: 100%;
  }
  @media (max-width: 768px) {
    &-control {
      &-flex {
        display: block;
      }
    }
    &-label {
      font-size: 16px;
      line-height: 28px;
    }
  }
}
