.l-input {
  font-size: 18px;
  line-height: 21px;
  color: #404040;
  outline: none;
  border: 0;
  padding-left: 10px;
}
.l-textarea {
  background: #DDE7FF;
  border-radius: 3px;
  border: 0;
  resize:none;
  padding: 20px;
  outline: none;
  transition: .3s;
}
