
/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
  &:before {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 16.05C4.01 16.05 0 9.542 0 6C0 2.686 2.686 0 6 0C9.314 0 12 2.686 12 6C12 9.543 7.99 16.05 6 16.05ZM6 4.076C4.905 4.084 4.023 4.976 4.028 6.071C4.033 7.166 4.924 8.051 6.018 8.048C7.115 8.045 8 7.157 8 6.062C7.998 5.532 7.786 5.027 7.41 4.655C7.036 4.282 6.53 4.075 6 4.075V4.076Z' fill='%23526CB3'/%3E%3C/svg%3E%0A");
    background-size: cover;
    width: 12px;
    height: 16px;
    top: 14px;
    left: 10px;
    z-index: 1;
  }
}
.custom-select-trigger {
  padding: 0 0 0 28px;
  min-width: 163px;
  font-size: 18px;
  color: #404040;
  line-height: 48px;
  background: #fff;
  position: relative;
  display: block;
  width: auto;
  border-radius: 4px;
  cursor: pointer;
  max-height: 48px;
  overflow: hidden;
  transition: .3s;
  &:before {
    content: '';
    position: absolute;
    height: 48px;
    width: 40px;
    background-color: white;
    right: 0;
    z-index: 0;
    box-shadow: -3px 0px 20px 7px white;
  }
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #526cb3;
  border-right: 1px solid #526cb3;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  width: max-content;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0,0,0,.07);
  background: #fff;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  z-index: 99;
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  left: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-select {
  padding: 0;
  border: 0;
  max-width: 200px;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 18px;
  line-height: 47px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
}

