<% var data = {
title: "Розыгрыш конкурсов | Главная"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main role="main">

    <section class="stickers">
        <div class="stickers-layout box">
            <div class="sliders">
                <div class="stickers-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="sticker-box">
                                <div class="sticker-box-head">Стикер 100 баллов</div>
                                <div class="sticker-box-cover">
                                    <div class="sticker-box-cover-bg"
                                         style="background-image: url('./img/stickers/sticker-100.png');"></div>
                                    <div class="sticker-box-scores">100 Баллов</div>
                                </div>
                                <div class="sticker-box-form">
                                    <div class="sticker-box-price">Цена: <span class="num">100 Рублей</span></div>
                                    <div class="sticker-box-action">
                                        <div class="sticker-box-action-input">
                                            <input type="number" class="l-input js-count-stickers" value="1"/>
                                            <div class="sticker-box-action-input_desc">шт.</div>
                                        </div>
                                        <div class="sticker-box-action-btn">
                                            <div class="sticker-box-action-btn_max js-set-count" data-set="max"></div>
                                            <div class="sticker-box-action-btn_min js-set-count" data-set="min"></div>
                                        </div>
                                    </div>
                                    <div class="sticker-box-btn">
                                        <button type="button" class="l-btn l-btn-orange">Купить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sticker-box">
                                <div class="sticker-box-head">Стикер 200 баллов</div>
                                <div class="sticker-box-cover">
                                    <div class="sticker-box-cover-bg"
                                         style="background-image: url('./img/stickers/sticker-200.png');"></div>
                                    <div class="sticker-box-scores">200 Баллов</div>
                                </div>
                                <div class="sticker-box-form">
                                    <div class="sticker-box-price">Цена: <span class="num">200 Рублей</span></div>
                                    <div class="sticker-box-action">
                                        <div class="sticker-box-action-input">
                                            <input type="number" class="l-input js-count-stickers" value="1"/>
                                            <div class="sticker-box-action-input_desc">шт.</div>
                                        </div>
                                        <div class="sticker-box-action-btn">
                                            <div class="sticker-box-action-btn_max js-set-count" data-set="max"></div>
                                            <div class="sticker-box-action-btn_min js-set-count" data-set="min"></div>
                                        </div>
                                    </div>
                                    <div class="sticker-box-btn">
                                        <button type="button" class="l-btn l-btn-orange">Купить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sticker-box">
                                <div class="sticker-box-head">Стикер 300 баллов</div>
                                <div class="sticker-box-cover">
                                    <div class="sticker-box-cover-bg"
                                         style="background-image: url('./img/stickers/sticker-300.png');"></div>
                                    <div class="sticker-box-scores">300 Баллов</div>
                                </div>
                                <div class="sticker-box-form">
                                    <div class="sticker-box-price">Цена: <span class="num">300 Рублей</span></div>
                                    <div class="sticker-box-action">
                                        <div class="sticker-box-action-input">
                                            <input type="number" class="l-input js-count-stickers" value="1"/>
                                            <div class="sticker-box-action-input_desc">шт.</div>
                                        </div>
                                        <div class="sticker-box-action-btn">
                                            <div class="sticker-box-action-btn_max js-set-count" data-set="max"></div>
                                            <div class="sticker-box-action-btn_min js-set-count" data-set="min"></div>
                                        </div>
                                    </div>
                                    <div class="sticker-box-btn">
                                        <button type="button" class="l-btn l-btn-orange">Купить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sticker-box">
                                <div class="sticker-box-head">Стикер 400 баллов</div>
                                <div class="sticker-box-cover">
                                    <div class="sticker-box-cover-bg"
                                         style="background-image: url('./img/stickers/sticker-400.png');"></div>
                                    <div class="sticker-box-scores">400 Баллов</div>
                                </div>
                                <div class="sticker-box-form">
                                    <div class="sticker-box-price">Цена: <span class="num">400 Рублей</span></div>
                                    <div class="sticker-box-action">
                                        <div class="sticker-box-action-input">
                                            <input type="number" class="l-input js-count-stickers" value="1"/>
                                            <div class="sticker-box-action-input_desc">шт.</div>
                                        </div>
                                        <div class="sticker-box-action-btn">
                                            <div class="sticker-box-action-btn_max js-set-count" data-set="max"></div>
                                            <div class="sticker-box-action-btn_min js-set-count" data-set="min"></div>
                                        </div>
                                    </div>
                                    <div class="sticker-box-btn">
                                        <button type="button" class="l-btn l-btn-orange">Купить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sticker-box">
                                <div class="sticker-box-head">Стикер 500 баллов</div>
                                <div class="sticker-box-cover">
                                    <div class="sticker-box-cover-bg"
                                         style="background-image: url('./img/stickers/sticker-500.png');"></div>
                                    <div class="sticker-box-scores">500 Баллов</div>
                                </div>
                                <div class="sticker-box-form">
                                    <div class="sticker-box-price">Цена: <span class="num">500 Рублей</span></div>
                                    <div class="sticker-box-action">
                                        <div class="sticker-box-action-input">
                                            <input type="number" class="l-input js-count-stickers" value="1"/>
                                            <div class="sticker-box-action-input_desc">шт.</div>
                                        </div>
                                        <div class="sticker-box-action-btn">
                                            <div class="sticker-box-action-btn_max js-set-count" data-set="max"></div>
                                            <div class="sticker-box-action-btn_min js-set-count" data-set="min"></div>
                                        </div>
                                    </div>
                                    <div class="sticker-box-btn">
                                        <button type="button" class="l-btn l-btn-orange">Купить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sticker-box">
                                <div class="sticker-box-head">Стикер 600 баллов</div>
                                <div class="sticker-box-cover">
                                    <div class="sticker-box-cover-bg"
                                         style="background-image: url('./img/stickers/sticker-500.png');"></div>
                                    <div class="sticker-box-scores">600 Баллов</div>
                                </div>
                                <div class="sticker-box-form">
                                    <div class="sticker-box-price">Цена: <span class="num">600 Рублей</span></div>
                                    <div class="sticker-box-action">
                                        <div class="sticker-box-action-input">
                                            <input type="number" class="l-input js-count-stickers" value="1"/>
                                            <div class="sticker-box-action-input_desc">шт.</div>
                                        </div>
                                        <div class="sticker-box-action-btn">
                                            <div class="sticker-box-action-btn_max js-set-count" data-set="max"></div>
                                            <div class="sticker-box-action-btn_min js-set-count" data-set="min"></div>
                                        </div>
                                    </div>
                                    <div class="sticker-box-btn">
                                        <button type="button" class="l-btn l-btn-orange">Купить</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="slider-nav">
                    <div class="slider-arr">
                        <div class="prev"></div>
                    </div>
<!--                  TODO: Если слайдов <=5 лучше скрыть progress-->
                    <div class="slider-progress-wrap">
                        <div class="slider-progress"></div>
                        <div class="slider-progress2"></div>
                        <div class="slider-scrollbar"></div>
                    </div>
                    <div class="slider-arr right">
                        <div class="next"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="l-ba box">
        <div class="l-ba-layout">
            <div class="l-ba-layout_bg" style="background-image: url('./img/covers/home-cover.png');"></div>
        </div>
    </section>
    <section class="catalogs">
        <div class="box">
            <div class="catalogs-layout">
                <div class="catalogs-filter btn-group sort-button-group">
                    <button data-sort-direction="desc" data-sort-value="popular" type="button" class="catalogs-filter-item">Популярные <span class="f-icon f-icon-down"></span></button>
                    <button data-sort-direction="desc" data-sort-value="date" type="button" class="catalogs-filter-item">Ближайшие <span class="f-icon f-icon-down"></span></button>
                    <button data-sort-direction="desc" data-sort-value="repost" type="button" class="catalogs-filter-item">Репост <span class="f-icon f-icon-down"></span></button>
                    <button data-sort-direction="desc" data-sort-value="best" type="button" class="catalogs-filter-item">По ставке <span class="f-icon f-icon-down"></span></button>
                    <button data-sort-direction="desc" data-sort-value="places" type="button" class="catalogs-filter-item">По местам <span  class="f-icon f-icon-down"></span></button>
                </div>
                <div class="catalogs-box js-cat-view" data-view-count="15" data-count="15">
                    <div class="container-fluid">
                        <div class="catalogs-row row">

                            <%= _.template(require('./../includes/products/home-products.html').default)(data) %>
                            <%= _.template(require('./../includes/products/home-products.html').default)(data) %>
                        </div>
                    </div>
                    <div class="catalogs-more">
                        <button type="button" class="l-btn l-btn-blue-dark l-btn-more js-more">Показать еще</button>
                    </div>
                    <div class="paginate">
                        <div class="paginate-pages">
                            <div class="paginate-pages-box">
                                <button type="button" class="paginate-pages_prev disabled">Предедущая</button>
                                <button type="button" class="paginate-pages_next">Следующая</button>
                            </div>
                            <div class="paginate-pages-num">
                               <div class="page-num active">1</div>
                               <div class="page-num"><span>,</span>2</div>
                               <div class="page-num"><span>,</span>3</div>
                               <div class="page-num"><span>,</span>4</div>
                               <div class="page-num"><span>,</span>5</div>
                               <div class="page-num"><span>,</span>...</div>
                               <div class="page-num"><span>,</span>32</div>
                            </div>
                        </div>
                        <div class="paginate-count">
                            <div class="paginate-count-text">Показывать по: </div>
                            <div class="paginate-count-set">
                                <button type="button" class="set-count active">15</button>
                                <button type="button" class="set-count">30</button>
                                <button type="button" class="set-count">45</button>
                            </div>
                        </div>
                    </div>



                </div>
            </div>







        </div>
    </section>
    <%= _.template(require('./../includes/modals/auth.html').default)(data) %>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
