<% var data = {
title: "Розыгрыш конкурсов | ЛК | Баланс"
}; %>
<%= _.template(require('./../includes/header-auth.html').default)(data) %>
<main role="main">

<section class="info info_l1">
    <div class="box">
        <div class="info-layout lk-balance">
            <div class="sidebar sidebar_l3">
                <div class="sidebar-item">
                    <a class="nav-link l-icon-m l-icon-m_auction" href="#">Мои аукционы</a>
                </div>
                <div class="sidebar-item">
                    <a class="nav-link l-icon-m l-icon-m_balance active" href="#">Баланс</a>
                </div>
                <div class="sidebar-item">
                    <a class="nav-link l-icon-m l-icon-m_profile" href="#">Профиль</a>
                </div>
                <div class="sidebar-item">
                    <a class="nav-link l-icon-m l-icon-m_question" href="#">Вопрос</a>
                </div>
            </div>

            <div class="info-content">

                <div class="c-card">
                    <div class="c-card-box">
                        <div class="c-card-head c-card-head_l1">Остаток: 100 баллов</div>
                    </div>

                </div>

                <div class="c-card">
                    <div class="c-card-box">
                        <div class="c-card-head">Покупка стикеров</div>
                        <div class="c-card-content">
                            <div class="l-slider">
                                <div class="c-card-content_slider">
                                    <%= _.template(require('./../includes/products/stickers.html').default)(data) %>
                                </div>
                                <div class="slider-nav">
                                    <div class="slider-arr">
                                        <div class="prev"></div>
                                    </div>
                                    <div class="slider-arr right">
                                        <div class="next"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="sum-box">
                                <div class="sum-box-layout">
                                    <div class="sum-box-items">
                                        <div class="sum-box-total">
                                            <span>Итог:</span>
                                            <div class="sum-box-total-label">Сумма, руб:</div>
                                            <div class="sum-box-total-input">
                                                <input type="number" class="l-input l-input_l1 l-input_num" value="100">
                                            </div>
                                        </div>
                                        <div class="sum-box-total">
                                            <div class="sum-box-total-label">Сумма, балл:</div>
                                            <div class="sum-box-total-input">
                                                <input type="number" class="l-input l-input_l1 l-input_num" value="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="method-pay">
                                <div class="method-pay-title">Способ оплаты:</div>
                                <div class="method-pay-box">
                                    <div class="method-pay-box-item">
                                        <img src="img/pay/visa.png">
                                    </div>
                                    <div class="method-pay-box-item">
                                        <img src="img/pay/mc.png">
                                    </div>
                                    <div class="method-pay-box-item">
                                        <img src="img/pay/qiwi.png">
                                    </div>
                                    <div class="method-pay-box-item">
                                        <img src="img/pay/ya.png">
                                    </div>
                                    <div class="method-pay-box-item">
                                        <img src="img/pay/wm.png">
                                    </div>
                                </div>
                                <div class="method-pay-btn">
                                    <button type="button" class="l-btn l-btn-orange">Купить</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="l-table">
                    <div class="l-table-title">Списания</div>
                    <div class="l-table-box l-scrollbar">

                        <table class="l-table-t">
                            <thead>
                            <tr class="l-table_tr">
                                <th class="l-table_th">
                                    Дата
                                </th>
                                <th class="l-table_th">
                                    Время
                                </th>
                                <th class="l-table_th">
                                    Номинал
                                </th>
                                <th class="l-table_th">
                                    Количество
                                </th>
                                <th class="l-table_th right">
                                    Сумма
                                </th>
                                <th class="l-table_th">
                                    Примечание
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="l-table_tr">
                                <td class="l-table_td">01.04.2019</td>
                                <td class="l-table_td">20:00</td>
                                <td class="l-table_td">100</td>
                                <td class="l-table_td">100</td>
                                <td class="l-table_td right">100</td>
                                <td class="l-table_td">
                                    <a href="#">Акция №1</a>
                                </td>
                            </tr>
                            <tr class="l-table_tr">
                                <td class="l-table_td">01.04.2019</td>
                                <td class="l-table_td">20:00</td>
                                <td class="l-table_td">100</td>
                                <td class="l-table_td">100</td>
                                <td class="l-table_td right">100</td>
                                <td class="l-table_td">
                                    <a href="#">Акция №1</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="l-table">
                    <div class="l-table-title">Зачисления</div>
                    <div class="l-table-box l-scrollbar">

                        <table class="l-table-t">
                            <thead>
                            <tr class="l-table_tr">
                                <th class="l-table_th">
                                    Дата
                                </th>
                                <th class="l-table_th">
                                    Время
                                </th>
                                <th class="l-table_th">
                                    Номинал
                                </th>
                                <th class="l-table_th">
                                    Количество
                                </th>
                                <th class="l-table_th right">
                                    Сумма
                                </th>
                                <th class="l-table_th">
                                    Примечание
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="l-table_tr">
                                <td class="l-table_td">01.04.2019</td>
                                <td class="l-table_td">20:00</td>
                                <td class="l-table_td">100</td>
                                <td class="l-table_td">100</td>
                                <td class="l-table_td right">100</td>
                                <td class="l-table_td">
                                    <a href="#">Акция №1</a>
                                </td>
                            </tr>
                            <tr class="l-table_tr">
                                <td class="l-table_td">01.04.2019</td>
                                <td class="l-table_td">20:00</td>
                                <td class="l-table_td">100</td>
                                <td class="l-table_td">100</td>
                                <td class="l-table_td right">100</td>
                                <td class="l-table_td">
                                    <a href="#">Акция №1</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="info-right-sidebar">

                <div class="c-card">
                    <div class="c-card-box">
                        <div class="c-card-head">Ваши стикеры</div>
                        <div class="c-card-content">
                            <div class="c-card-over l-scrollbar">
                                <div class="stickers-col">

                                    <%= _.template(require('./../includes/stickers/stickers-box.html').default)(data) %>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>


        </div>

    </div>
</section>
    <%= _.template(require('./../includes/modals/auth.html').default)(data) %>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
