<% var data = {
title: "Розыгрыш конкурсов | ЛК | Профиль"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main role="main">

<section class="info info_l1">
    <div class="box">
        <div class="info-layout">
            <div class="sidebar sidebar_l3">
                <div class="sidebar-item">
                    <a class="nav-link l-icon-m l-icon-m_auction" href="#">Мои аукционы</a>
                </div>
                <div class="sidebar-item">
                    <a class="nav-link l-icon-m l-icon-m_balance" href="#">Баланс</a>
                </div>
                <div class="sidebar-item">
                    <a class="nav-link l-icon-m l-icon-m_profile active" href="#">Профиль</a>
                </div>
                <div class="sidebar-item">
                    <a class="nav-link l-icon-m l-icon-m_question" href="#">Вопрос</a>
                </div>
            </div>
            <div class="info-content">

                <div class="auction c-list-drop question">
                    <div class="l-tab active">
                        <h2 class="auction-title">Активные аукционы</h2>
                        <div class="question-icon"></div>
                    </div>
                    <div class="question-content answer">
                        <div class="show-list">

                            <div class="auction-fix l-scrollbar">
                                <div class="auction-content">
                                    <%= _.template(require('./../includes/products/product.html').default)(data) %>
                                    <%= _.template(require('./../includes/products/product.html').default)(data) %>
                                    <%= _.template(require('./../includes/products/product.html').default)(data) %>
                                    <%= _.template(require('./../includes/products/product.html').default)(data) %>
                                    <%= _.template(require('./../includes/products/product.html').default)(data) %>
                                    <%= _.template(require('./../includes/products/product.html').default)(data) %>

                                    <%= _.template(require('./../includes/products/product.html').default)(data) %>
                                    <%= _.template(require('./../includes/products/product.html').default)(data) %>
                                    <%= _.template(require('./../includes/products/product.html').default)(data) %>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="auction c-list-drop question">
                    <div class="l-tab">
                        <h2 class="auction-title">Завершенные аукционы</h2>
                        <div class="question-icon"></div>
                    </div>
                    <div class="question-content answer" style="display: none;">
                        <div class="show-list">
                            <div class="auction-fix l-scrollbar">
                                <div class="auction-content">
                                    <%= _.template(require('./../includes/products/product.html').default)(data) %>
                                    <%= _.template(require('./../includes/products/product.html').default)(data) %>
                                    <%= _.template(require('./../includes/products/product.html').default)(data) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="info-right-sidebar">


                <div class="c-card c-card_l1">
                    <div class="c-card-box">
                        <div class="c-card-head">Уведомления</div>
                        <div class="c-card-content">

                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>
</section>

</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
