<% var data = {
title: "Розыгрыш конкурсов | Отзывы победителей"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main role="main">

<section class="articles">
    <div class="box">

        <div class="articles-layout">
            <div class="wins">
                <div class="wins-head">
                    <div class="wins-head-title">
                        <h2>Отзывы победителей</h2>
                        <div class="wins-head-info">
                            Всего победителей / Отзывов: <span>156</span> / <span>40</span>
                        </div>
                    </div>
                </div>
                <div class="wins-slider">
                    <div class="wins-slider-init">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="wins-box">
                                    <div class="wins-box-cover">
                                        <img src="img/demo/faces/1.png" />
                                    </div>
                                    <div class="wins-box-name">
                                        Васильев <br /> Василий
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wins-box">
                                    <div class="wins-box-cover">
                                        <img src="img/demo/faces/2.png" />
                                    </div>
                                    <div class="wins-box-name">
                                        Васильев <br /> Василий
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wins-box">
                                    <div class="wins-box-cover">
                                        <img src="img/demo/faces/3.png" />
                                    </div>
                                    <div class="wins-box-name">
                                        Васильев <br /> Василий
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wins-box">
                                    <div class="wins-box-cover">
                                        <img src="img/demo/faces/4.png" />
                                    </div>
                                    <div class="wins-box-name">
                                        Васильев <br /> Василий
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wins-box">
                                    <div class="wins-box-cover">
                                        <img src="img/demo/faces/5.png" />
                                    </div>
                                    <div class="wins-box-name">
                                        Васильев <br /> Василий
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wins-box">
                                    <div class="wins-box-cover">
                                        <img src="img/demo/faces/6.png" />
                                    </div>
                                    <div class="wins-box-name">
                                        Васильев <br /> Василий
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wins-box">
                                    <div class="wins-box-cover">
                                        <img src="img/demo/faces/7.png" />
                                    </div>
                                    <div class="wins-box-name">
                                        Васильев <br /> Василий
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wins-box">
                                    <div class="wins-box-cover">
                                        <img src="img/demo/faces/8.png" />
                                    </div>
                                    <div class="wins-box-name">
                                        Васильев <br /> Василий
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wins-box">
                                    <div class="wins-box-cover">
                                        <img src="img/demo/faces/1.png" />
                                    </div>
                                    <div class="wins-box-name">
                                        Васильев <br /> Василий
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wins-box">
                                    <div class="wins-box-cover">
                                        <img src="img/demo/faces/2.png" />
                                    </div>
                                    <div class="wins-box-name">
                                        Васильев <br /> Василий
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="slider-nav slider-nav_ab">
                        <div class="slider-arr left">
                            <div class="prev"></div>
                        </div>
                        <div class="slider-arr right">
                            <div class="next"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="l-article">
                <div class="l-article-box">
                    <%= _.template(require('./../includes/articles/article.html').default)(data) %>
                </div>
                <div class="l-article-more">
                    <button type="button" class="l-btn l-btn-blue-dark l-btn-more">Показать еще</button>
                    <div class="paginate">
                        <div class="paginate-pages">
                            <div class="paginate-pages-box">
                                <button type="button" class="paginate-pages_prev disabled">Предедущая</button>
                                <button type="button" class="paginate-pages_next">Следующая</button>
                            </div>
                            <div class="paginate-pages-num js-places-page">
                                <div class="page-num active">1</div>
                                <div class="page-num"><span>,</span>2</div>
                                <div class="page-num"><span>,</span>3</div>
                                <div class="page-num"><span>,</span>4</div>
                                <div class="page-num"><span>,</span>5</div>
                                <div class="page-num"><span>,</span>...</div>
                                <div class="page-num"><span>,</span>32</div>
                            </div>
                        </div>
                        <div class="paginate-count">
                            <div class="paginate-count-text">Показывать по: </div>
                            <div class="paginate-count-set">
                                <button type="button" class="set-count js-count-s active" data-count="15">15</button>
                                <button type="button" class="set-count js-count-s" data-count="30">30</button>
                                <button type="button" class="set-count js-count-s" data-count="45">45</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

    <section class="l-reviews bg-blue">
        <div class="box">
            <h2 class="l-reviews-title">Поделитесь радостью своей победы с нами и получите ставку бесплатно!</h2>
            <div class="l-reviews-desc">Уважаемые участники! Мы публикуем только реальные отзывы. Каждый из них можно проверить. <br />Просим отнестись с пониманием к процедуре оформления отзыва. Заранее Благодарим!</div>
            <div class="l-reviews-instruct">
                <div class="l-reviews-box">
                    <div class="l-reviews-box-layout">
                        <div class="l-reviews-box-num"><div class="num">1</div> </div>
                        <div class="l-reviews-box-title">Поделитесь</div>
                        <div class="l-reviews-box-desc">Поделитесь своей победой с друзьями в соц. сетях Вконтакте или Instagram. Напишите пост или оставьте отзыв в наших группах</div>
                    </div>
                </div>
                <div class="l-reviews-box">
                    <div class="l-reviews-box-layout">
                        <div class="l-reviews-box-num"><div class="num">2</div> </div>
                        <div class="l-reviews-box-title">Покажите</div>
                        <div class="l-reviews-box-desc">Сделайте скриншот своей записи в соц. сетях и скопируйте ссылку на запись</div>
                    </div>
                </div>
                <div class="l-reviews-box">
                    <div class="l-reviews-box-layout">
                        <div class="l-reviews-box-num"><div class="num">3</div> </div>
                        <div class="l-reviews-box-title">Авторизуйтесь</div>
                        <div class="l-reviews-box-desc">Войдите в систему под своим аккаунтом. Мы поймем, кто оставил отзыв и начислим за него ставки</div>
                    </div>
                </div>
                <div class="l-reviews-box">
                    <div class="l-reviews-box-layout">
                        <div class="l-reviews-box-num"><div class="num">4</div> </div>
                        <div class="l-reviews-box-title">Заполните</div>
                        <div class="l-reviews-box-desc">Заполните форму отзыва и отправьте. Ваш отзыв пройдет модерацию, опубликуется и мы начислим ставки</div>
                    </div>
                </div>
            </div>
            <div class="l-reviews-form">
                <div class="l-reviews-form-head">Оставить отзыв</div>
                <div class="l-reviews-form-content">
                    <form class="l-reviews-boxes">
                        <div class="upload-image">
                            <div class="l-upload-preview-box">
                                <div class="remove-image js-remove-image"></div>
                                <img class="file-upload-image js-upload-preview" src="#" alt="изображение">
                            </div>
                            <input class="file-upload-input js-upload-file" type="file" accept="image/*">
                            <button type="button" class="l-btn l-btn-orange" onclick="$('.file-upload-input').trigger( 'click' )">Загрузить фото</button>
                        </div>
                        <div class="l-reviews-block">
                            <div class="l-reviews-social-trigger">
                                <div class="js-trigger-soc active" data-soc-rev="vk">Вконтакте</div>
                                <div class="js-trigger-soc" data-soc-rev="instagram">Инстаграм</div>
                                <div class="js-trigger-soc" data-soc-rev="site">Сайт</div>
                            </div>
                            <input type="hidden" class="js-social-reviews" value="vk" />

                            <div class="l-form-control">
                                <div class="l-form-label">
                                    Текст отзыва:
                                </div>
                                <div class="l-form-desc">
                                    Скопируйте текст из записи выбранной соц. сети или напишите
                                </div>
                                <textarea class="l-textarea l-textarea_l1 l-input-place_l1" name="msg"></textarea>
                            </div>

                            <div class="l-form-control">
                                <div class="l-form-control-flex">
                                    <div class="l-form-label label-link">Ссылка на пост:</div>
                                    <input type="text" class="l-input l-input_l1 l-input-place_l1" name="name">
                                </div>
                                <div class="l-form-desc">
                                    Поделитесь ссылкой на запись выбранной социальной сети
                                </div>
                            </div>

                            <div class="l-reviews-block-submit">
                                <input type="submit" class="l-btn l-btn-orange" value="Отправить">
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <%= _.template(require('./../includes/modals/auth.html').default)(data) %>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
