<% var data = {
title: "Розыгрыш конкурсов | Отзывы победителей"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main role="main">

<section class="articles">
    <div class="box">

        <div class="articles-layout">
            <div class="wins">
                <div class="box">
                    <div class="wins-head">
                        <div class="wins-head-title">
                            <h2>Наши победители</h2>
                        </div>
                    </div>
                    <div class="wins-slider">
                        <div class="wins-slider-init">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="wins-box">
                                        <div class="wins-box-cover">
                                            <img src="img/demo/faces/1.png" />
                                        </div>
                                        <div class="wins-box-name">
                                            Васильев <br /> Василий
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wins-box">
                                        <div class="wins-box-cover">
                                            <img src="img/demo/faces/2.png" />
                                        </div>
                                        <div class="wins-box-name">
                                            Васильев <br /> Василий
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wins-box">
                                        <div class="wins-box-cover">
                                            <img src="img/demo/faces/3.png" />
                                        </div>
                                        <div class="wins-box-name">
                                            Васильев <br /> Василий
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wins-box">
                                        <div class="wins-box-cover">
                                            <img src="img/demo/faces/4.png" />
                                        </div>
                                        <div class="wins-box-name">
                                            Васильев <br /> Василий
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wins-box">
                                        <div class="wins-box-cover">
                                            <img src="img/demo/faces/5.png" />
                                        </div>
                                        <div class="wins-box-name">
                                            Васильев <br /> Василий
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wins-box">
                                        <div class="wins-box-cover">
                                            <img src="img/demo/faces/6.png" />
                                        </div>
                                        <div class="wins-box-name">
                                            Васильев <br /> Василий
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wins-box">
                                        <div class="wins-box-cover">
                                            <img src="img/demo/faces/7.png" />
                                        </div>
                                        <div class="wins-box-name">
                                            Васильев <br /> Василий
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wins-box">
                                        <div class="wins-box-cover">
                                            <img src="img/demo/faces/8.png" />
                                        </div>
                                        <div class="wins-box-name">
                                            Васильев <br /> Василий
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wins-box">
                                        <div class="wins-box-cover">
                                            <img src="img/demo/faces/1.png" />
                                        </div>
                                        <div class="wins-box-name">
                                            Васильев <br /> Василий
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wins-box">
                                        <div class="wins-box-cover">
                                            <img src="img/demo/faces/2.png" />
                                        </div>
                                        <div class="wins-box-name">
                                            Васильев <br /> Василий
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="slider-nav slider-nav_ab">
                            <div class="slider-arr left">
                                <div class="prev"></div>
                            </div>
                            <div class="slider-arr right">
                                <div class="next"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
