<% var data = {
title: "Розыгрыш конкурсов | Доставка"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main role="main">

<section class="info">
    <div class="box">
        <h1 class="info-title">Доставка</h1>
        <div class="info-layout">
            <ul class="sidebar nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="warranty-tab" data-toggle="tab" href="#warranty" role="tab" aria-controls="warranty" aria-selected="true">Гарантия и возврат</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="regions-tab" data-toggle="tab" href="#regions" role="tab" aria-controls="regions" aria-selected="false">Регионы и способы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cost-tab" data-toggle="tab" href="#cost" role="tab" aria-controls="cost" aria-selected="false">Стоимость и сроки</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="info-content info-content_l1 tab-content">
                <div class="tab-pane active" id="warranty" role="tabpanel" aria-labelledby="warranty-tab">
                    <%= _.template(require('./../includes/text/text1.html').default)(data) %>
                </div>
                <div class="tab-pane" id="regions" role="tabpanel" aria-labelledby="regions-tab">
                    <%= _.template(require('./../includes/text/text1.html').default)(data) %>
                </div>
                <div class="tab-pane" id="cost" role="tabpanel" aria-labelledby="cost-tab">
                    <%= _.template(require('./../includes/text/text1.html').default)(data) %>
                </div>
            </div>
        </div>




    </div>
</section>
    <%= _.template(require('./../includes/modals/auth.html').default)(data) %>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
