<% var data = {
title: "Розыгрыш конкурсов | Часто задаваемые вопросы"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main role="main">

    <section class="info">
        <div class="box">
            <h1 class="info-title">Часто задаваемые вопросы</h1>
            <div class="info-layout">
                <ul class="sidebar sidebar_l1 nav nav-tabs" id="question" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="group_1-tab" data-toggle="tab" href="#group_1" role="tab" aria-controls="group_1" aria-selected="true">Группа вопросов 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="group_2-tab" data-toggle="tab" href="#group_2" role="tab" aria-controls="group_2" aria-selected="false">Группа вопросов 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="group_3-tab" data-toggle="tab" href="#group_3" role="tab" aria-controls="group_3" aria-selected="false">Группа вопросов 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="group_4-tab" data-toggle="tab" href="#group_4" role="tab" aria-controls="group_4" aria-selected="false">Группа вопросов N</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="info-content info-content_l1 tab-content">
                    <div class="tab-pane active" id="group_1" role="tabpanel" aria-labelledby="group_1-tab">
                        <%= _.template(require('./../includes/question/question.html').default)(data) %>
                    </div>
                    <div class="tab-pane" id="group_2" role="tabpanel" aria-labelledby="group_2-tab">
                        <%= _.template(require('./../includes/question/question.html').default)(data) %>
                    </div>
                    <div class="tab-pane" id="group_3" role="tabpanel" aria-labelledby="group_3-tab">
                        <%= _.template(require('./../includes/question/question.html').default)(data) %>
                    </div>
                    <div class="tab-pane" id="group_4" role="tabpanel" aria-labelledby="group_4-tab">
                        <%= _.template(require('./../includes/question/question.html').default)(data) %>
                    </div>
                </div>
            </div>




        </div>
    </section>
    <section class="info-box bg-blue">
        <div class="box">
            <div class="info-box-title">Не нашли ответ?</div>
            <div class="info-box-layout">
                <div class="info-block info-form">
                    <div class="info-box-head">Форма обратной связи</div>
                    <div class="info-form-content">
                        <div class="info-form-text">
                            <p>Доброго времени суток!<br /> Мы рады ответить на любой ваш вопрос, связанный с проектом.</p>
                            <p>Задайте свой вопрос, мы постараемся максимально быстро выслать ответ на вашу электронную почту.</p>
                        </div>
                        <form  enctype="multipart/form-data">
                            <div class="l-form-control-flex">
                                <div class="l-form-label">Ваше имя:</div>
                                <input type="text" class="l-input l-input_l1 l-input-place_l1" name="name" placeholder="Василий Пупкин" />
                            </div>
                            <div class="l-form-control-flex">
                                <div class="l-form-label">Ваш Email:</div>
                                <input type="email" class="l-input l-input_l1 l-input-place_l1" name="email" placeholder="Test@mail.ru" />
                            </div>
                            <div class="l-form-control">
                                <div class="l-form-label">Текст сообщения:</div>
                                <textarea class="l-textarea l-textarea_l1 l-input-place_l1" name="msg" placeholder="Здесь нужно писать интересующий вас вопрос" ></textarea>
                            </div>
                            <div class="l-upload">
                                <div class="l-upload-btn">
                                    <button class="l-btn l-btn-blue-dark file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Прикрепить изображения...</button>
                                    <div class="l-upload-warning">Максимум 3 изображения</div>
                                </div>
                                <div class="image-upload-wrap">
                                    <input class="file-upload-input js-upload-file"  type='file' accept="image/*" multiple/>
                                </div>

                                <div class="l-upload-content">
                                    <div class="l-upload-preview">
                                        <div class="l-upload-preview-box">
                                            <div class="remove-image js-remove-image"></div>
                                            <img class="file-upload-image js-upload-preview" src="#" alt="your image" />
                                            <div class="l-upload-preview-text">Изображение 1</div>
                                        </div>
                                        <div class="l-upload-preview-box">
                                            <div class="remove-image js-remove-image"></div>
                                            <img class="file-upload-image js-upload-preview" src="#" alt="your image" />
                                            <div class="l-upload-preview-text">Изображение 2</div>
                                        </div>
                                        <div class="l-upload-preview-box">
                                            <div class="remove-image js-remove-image"></div>
                                            <img class="file-upload-image js-upload-preview" src="#" alt="your image" />
                                            <div class="l-upload-preview-text">Изображение 3</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-form-submit">
                                <input type="submit" class="l-btn l-btn-green" value="Отправить" />
                            </div>
                        </form>

                    </div>
                </div>
                <div class="info-block info-contact">
                    <div class="info-box-head">Контакты</div>
                    <div class="info-contact-content">
                        <div class="info-contact-item">
                            <div class="contact-icon contact-icon_home"></div>
                            <div class="info-contact-desc">
                                <div class="info-contact-desc_label">Адрес:</div>
                                <div class="info-contact-desc_val">г. Пермь, ул. Екатеринеская 131</div>
                            </div>
                        </div>
                        <div class="info-contact-item">
                            <div class="contact-icon contact-icon_phone"></div>
                            <div class="info-contact-desc">
                                <div class="info-contact-desc_label">Телефон:</div>
                                <div class="info-contact-desc_val">+7 (900) 324-32-13</div>
                            </div>
                        </div>
                        <div class="info-contact-item">
                            <div class="contact-icon contact-icon_email"></div>
                            <div class="info-contact-desc">
                                <div class="info-contact-desc_label">E-mail:</div>
                                <div class="info-contact-desc_val">test@mail.ru</div>
                            </div>
                        </div>
                        <div class="info-contact-item">
                            <div class="soc-icon soc-icon_vk"></div>
                            <div class="info-contact-desc">
                                <div class="info-contact-desc_label">Вконтакте:</div>
                                <div class="info-contact-desc_val"><a href="#" target="_blank">vk.com/namegroup</a></div>
                            </div>
                        </div>
                        <div class="info-contact-item">
                            <div class="soc-icon soc-icon_inst"></div>
                            <div class="info-contact-desc">
                                <div class="info-contact-desc_label">Instagram:</div>
                                <div class="info-contact-desc_val"><a href="#" target="_blank">instagramNameAccount</a></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
