<% var data = {
title: "Розыгрыш конкурсов | Главная"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main role="main">

    <div class="preview">
        <div class="preview-title">
            Список страниц
        </div>
        <ul>
            <li>
                <a href="1-home.html">Главная</a>
                <ul>
                    <li class="child">
                        <a href="1-1-home-win-repost.html">Главная с модальным окном (Выиграть за репост!)</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="2-product.html">Страница товара</a>
                <ul>
                    <li class="child">
                        <a href="2-1-product-wins.html">Страница товара с модальным окном (Победа)</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="3-to-begin.html">Страница "Начать"</a>
            </li>
            <li>
                <a href="4-page.html">Страница "Отзывы победителей"</a>
            </li>
            <li>
                <a href="5-page.html">Страница "Доставка"</a>
            </li>
            <li>
                <a href="6-page.html">Страница "Часто задаваемые вопросы"</a>
            </li>
            <li>
                <a href="7-page.html">Страница "Помощь"</a>
            </li>
            <li>
                <a href="8-page.html">Страница "О нас"</a>
            </li>
            <li>
                <a href="9-page.html">ЛК | Мои аукционы</a>
            </li>
            <li>
                <a href="10-page.html">ЛК | Баланс</a>
            </li>
            <li>
                <a href="11-page.html">ЛК | Профиль</a>
                <ul>
                    <li class="child">
                        <a href="11-1-page.html">Профиль - Ошибки</a>
                    </li>
                    <li class="child">
                        <a href="11-2-page.html">Профиль - Успех</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="12-page.html">ЛК | Вопрос</a>
            </li>

            <hr />

            <li>
                <a href="1-2-home-auth.html">Вход в ЛК</a>
                <ul>
                    <li class="child">
                        <a href="1-3-home-auth.html">Вход в ЛК | Ошибка</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="1-4-home-recovery.html">Востановление пароля</a>
                <ul>
                    <li class="child">
                        <a href="1-5-home-recovery.html">Востановление пароля | Ошибка</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="1-6-home-registration.html">Регистрация</a>
                <ul>
                    <li class="child">
                        <a href="1-7-home-registration.html">Регистрация | Ошибка</a>
                    </li>
                </ul>
            </li>
        </ul>


    </div>

</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
