<% var data = {
title: "Розыгрыш конкурсов | Главная"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main role="main">

<section class="product">
    <div class="box">
        <h1 class="product-title">Название товара. Стандартная длина названия в 2 строки</h1>
        <div class="product-info">
            <div class="product-info-thumb">
                <div class="product-info-thumb-img active">
                    <img src="img/demo/pre.png" />
                </div>
                <div class="product-info-thumb-img">
                    <img src="img/demo/min2.png" />
                </div>
            </div>
            <div class="product-info-cover">
                <img src="img/demo/pre.png" />
            </div>
            <div class="product-tabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#description">Описание</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#characteristics">Характеристики</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#others">Другое</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="description">
                        С другой стороны консультация с широким активом требуют определения и уточнения форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки систем массового участия. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
                    </div>
                    <div class="tab-pane fade" id="characteristics">
                        С другой стороны консультация с широким активом требуют определения и уточнения форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки систем массового участия. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
                    </div>
                    <div class="tab-pane fade" id="others">
                        С другой стороны консультация с широким активом требуют определения и уточнения форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки систем массового участия. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что начало повседневной работы по формированию позиции требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
                    </div>
                </div>
            </div>
        </div>
        <div class="product-desc">

            <div class="product-desc-item">
                <div class="product-desc-info">
                    Ставка: <span><span>100</span> Баллов</span>
                </div>
                <div class="product-desc-btn">
                    <button type="button" class="l-btn l-btn-orange">Пополнить</button>
                </div>
            </div>
            <div class="product-desc-item">
                <div class="product-desc-icon cart-icon people"></div>
                <div class="product-desc-info">
                    Участников: <span>7/85</span>
                </div>
                <div class="product-desc-text">Нет победителя</div>
            </div>
            <div class="product-desc-item">
                <div class="product-desc-icon cart-icon date"></div>
                <div class="product-desc-info">
                    Дата розыгрыша:
                    <div><span>22.02.2019 22:00</span></div>
                </div>
            </div>
            <div class="product-desc-item product-timer">
                <div class="product-desc-icon cart-icon cart-icon_big timer"></div>
                <div class="product-desc-info">
                    Осталось:
                    <div class="product-timer-box">
                        <div class="product-timer-item"><span>23</span> дня</div>
                        <div class="product-timer-item"><span>14</span> ч.</div>
                        <div class="product-timer-item"><span>54</span> мин.</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="places">
            <h2 class="places-title">Занять место</h2>
            <div class="places-box">
                <div class="places-layout">

                </div>
                <div class="js-more">еще</div>

                <div class="paginate">

                </div>
                <div class="places-count">
                    <button class="js-count-s" data-count="15">15</button>
                    <button class="js-count-s" data-count="30">30</button>
                    <button class="js-count-s" data-count="45">45</button>

                </div>

            </div>
        </div>
    </div>
</section>

</main>
<%= _.template(require('./../includes/components/footer-product.html').default)(data) %>
