<% var data = {
title: "Розыгрыш конкурсов | Главная"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main role="main">

    <section class="catalogs">
        <div class="box">
            <div class="catalogs-layout">
                <div class="catalogs-filter btn-group sort-button-group">
                    <button data-sort-direction="desc" data-sort-value="popular" type="button" class="catalogs-filter-item">Популярные <span class="f-icon f-icon-down"></span></button>
                    <button data-sort-direction="desc" data-sort-value="date" type="button" class="catalogs-filter-item">Ближайшие <span class="f-icon f-icon-down"></span></button>
                    <button data-sort-direction="desc" data-sort-value="repost" type="button" class="catalogs-filter-item">Репост <span class="f-icon f-icon-down"></span></button>
                    <button data-sort-direction="desc" data-sort-value="best" type="button" class="catalogs-filter-item">По ставке <span class="f-icon f-icon-down"></span></button>
                    <button data-sort-direction="desc" data-sort-value="places" type="button" class="catalogs-filter-item">По местам <span  class="f-icon f-icon-down"></span></button>
                </div>
                <div class="catalogs-box js-cat-view" data-view-count="15" data-count="15">
                    <div class="container-fluid">
                        <div class="catalogs-row">
                            <div class="catalogs-item col-media " data-popular="30" data-repost="34" data-date="2020.10.01" data-best="2" data-places="18">1
                                <span class="catalog-date">01.02.2021</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="24" data-repost="34" data-date="2020.03.19" data-best="2" data-places="18">2
                                <span class="catalog-date">01.03.2019</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="23" data-repost="21" data-date="2019.05.10" data-best="2" data-places="18">3
                                <span class="catalog-date">01.02.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="1" data-repost="12" data-date="2020.11.10" data-best="2" data-places="18">4
                                <span class="catalog-date">01.02.2021</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="12" data-repost="454" data-date="2021.02.01" data-best="2" data-places="18">5
                                <span class="catalog-date">01.02.2021</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="12" data-repost="454" data-date="2020.10.30" data-best="2" data-places="18">5
                                <span class="catalog-date">11.02.2020</span>
                            </div>

                            <div class="catalogs-item col-media " data-popular="12" data-repost="454"  data-date="2020.12.12" data-best="2" data-places="18">7
                                <span class="catalog-date">2020.11.03</span>
                            </div>

                            <div class="catalogs-item col-media " data-popular="34" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">8
                                <span class="catalog-date">22.10.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="45" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">9
                                <span class="catalog-date">23.10.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="56" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">10
                                <span class="catalog-date">25.10.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="24" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">12
                                <span class="catalog-date">26.10.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="56" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">13
                                <span class="catalog-date">27.10.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="56" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">14
                                <span class="catalog-date">28.10.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="3" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">15
                                <span class="catalog-date">29.10.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="34" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">16
                                <span class="catalog-date">30.10.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="45" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">17
                                <span class="catalog-date">01.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="3" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">18
                                <span class="catalog-date">02.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="234" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">19
                                <span class="catalog-date">03.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="45" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">20
                                <span class="catalog-date">04.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="33" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">21
                                <span class="catalog-date">05.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="34" data-repost="66"  data-date="2020.11.03"  data-best="2" data-places="18">22
                                <span class="catalog-date">06.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="222" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">23
                                <span class="catalog-date">07.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="22" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">24
                                <span class="catalog-date">08.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="56" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">25
                                <span class="catalog-date">09.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="43" data-repost="66" data-date="2020.11.03" data-best="2" data-places="18">26
                                <span class="catalog-date">10.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="87" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">27
                                <span class="catalog-date">11.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="78" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">28
                                <span class="catalog-date">12.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="67" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">29
                                <span class="catalog-date">13.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="56" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">30
                                <span class="catalog-date">14.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="564" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">31
                                <span class="catalog-date">15.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="34" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">32
                                <span class="catalog-date">16.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="45" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">33
                                <span class="catalog-date">17.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="34" data-repost="66"  data-date="2020.11.03" data-best="2" data-places="18">34
                                <span class="catalog-date">18.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="23" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">35
                                <span class="catalog-date">19.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="111" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">36
                                <span class="catalog-date">20.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="231" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">37
                                <span class="catalog-date">21.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="34" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">38
                                <span class="catalog-date">22.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="78" data-repost="66"  data-date="2020.11.03" data-best="2" data-places="18">39
                                <span class="catalog-date">23.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="57" data-repost="66"  data-date="2020.11.03" data-best="2" data-places="18">40
                                <span class="catalog-date">24.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="57" data-repost="66"  data-date="2020.11.03" data-best="2" data-places="18">41
                                <span class="catalog-date">25.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="57" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">42
                                <span class="catalog-date">26.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="57" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">43
                                <span class="catalog-date">27.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="57" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">44
                                <span class="catalog-date">28.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="57" data-repost="66" data-date="2020.10.23"  data-best="2" data-places="18">45
                                <span class="catalog-date">29.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="57" data-repost="66"  data-date="2020.11.03" data-best="2" data-places="18">46
                                <span class="catalog-date">30.11.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="57" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">47
                                <span class="catalog-date">01.12.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="57" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">48
                                <span class="catalog-date">02.12.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="57" data-repost="66" data-date="2020.11.03"  data-best="2" data-places="18">49
                                <span class="catalog-date">03.12.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="57" data-repost="66"  data-date="2021.01.25" data-best="2" data-places="18">50
                                <span class="catalog-date">04.12.2020</span>
                            </div>
                            <div class="catalogs-item col-media " data-popular="57" data-repost="66" data-date="2022.11.27"  data-best="2" data-places="18">51
                                <span class="catalog-date">05.12.2020</span>
                            </div>

                        </div>
                    </div>

                    <style>
                        .catalogs-item.col-media  {
                            /*float: left;*/
                            width: 300px;
                            height: 200px;
                            margin: 5px;
                            padding: 10px;
                            background-color: aliceblue;
                        }
                        .catalogs-row {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                        }

                    </style>

                    <div class="catalogs-more">
                        <button type="button" class="l-btn l-btn-blue-dark l-btn-more js-more">Показать еще</button>
                    </div>
                    <div class="paginate">
                        <div class="paginate-pages">
                            <div class="paginate-pages-box">
                                <button type="button" class="paginate-pages_prev disabled">Предедущая</button>
                                <button type="button" class="paginate-pages_next">Следующая</button>
                            </div>
                            <div class="paginate-pages-num">
                                <div class="page-num active">1</div>
                                <div class="page-num"><span>,</span>2</div>
                                <div class="page-num"><span>,</span>3</div>
                                <div class="page-num"><span>,</span>4</div>
                                <div class="page-num"><span>,</span>5</div>
                                <div class="page-num"><span>,</span>...</div>
                                <div class="page-num"><span>,</span>32</div>
                            </div>
                        </div>
                        <div class="paginate-count">
                            <div class="paginate-count-text">Показывать по: </div>
                            <div class="paginate-count-set">
                                <button type="button" class="set-count active">15</button>
                                <button type="button" class="set-count">30</button>
                                <button type="button" class="set-count">45</button>
                            </div>
                        </div>
                    </div>



                </div>
            </div>







        </div>
    </section>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>